{% load i18n %}
{% if items_page.has_previous or items_page.has_next %}
<div class="pagination">
    <span class="step-links">
        {% if items_page.has_previous %}
            <a href="?{{ filter_name }}={{ filter_value }}&page=1{% if sort_field %}&sort={{ sort_field }}&dir={{ sort_dir }}{% endif %}">{% blocktrans %}&laquo; first{% endblocktrans %}</a>
            <a href="?{{ filter_name }}={{ filter_value }}&page={{ items_page.previous_page_number }}{% if sort_field %}&sort={{ sort_field }}&dir={{ sort_dir }}{% endif %}">{% blocktrans %}previous{% endblocktrans %}</a>
        {% endif %}

        <span class="current">
            {% blocktrans with number=items_page.number num_pages=items_page.paginator.num_pages %}Page {{ number }} of {{ num_pages }}.{% endblocktrans %}
        </span>

        {% if items_page.has_next %}
            <a href="?{{ filter_name }}={{ filter_value }}&page={{ items_page.next_page_number }}{% if sort_field %}&sort={{ sort_field }}&dir={{ sort_dir }}{% endif %}">{% blocktrans %}next{% endblocktrans %}</a>
            <a href="?{{ filter_name }}={{ filter_value }}&page={{ items_page.paginator.num_pages }}{% if sort_field %}&sort={{ sort_field }}&dir={{ sort_dir }}{% endif %}">{% blocktrans %}last &raquo;{% endblocktrans %}</a>
        {% endif %}
    </span>
</div>
{% endif %}
