{% extends "base.html" %}
{% load i18n %}
{% load manager %}

{% block content %}
<h2>{% blocktrans with org=user.profile.organization %}{{ org }}'s Addresses{% endblocktrans %}</h2>
<p class="info">{% blocktrans %}Addresses are where orders can be sent to.<br />
Those must be properly filled (postal address and e-mail) whether you intend to use them for physical or virtual (download) orders.{% endblocktrans %}</p>

<p><div class="btn-group" role="group" aria-label="Filter">
	<a class="btn btn-sm {% if not address_filter %} btn-secondary{% else %}btn-outline-secondary{% endif %}"  href="?">{% blocktrans %}Created by me{% endblocktrans %}</a>
	<a class="btn btn-sm {% if address_filter %} btn-secondary{% else %}btn-outline-secondary{% endif %}" href="?all=yes">{% blocktrans %}All{% endblocktrans %}</a>
</div><a href="{% url 'address_new' %}" class="btn btn-sm btn-primary float-right">{% blocktrans %}Create New{% endblocktrans %}</a></p>

{% if addresses %}
<table class="table table-striped">
	<thead><tr>
		<th>{% blocktrans %}Name{% endblocktrans %}</th>
		<th>{% blocktrans %}Recipient{% endblocktrans %}</th>
		<th>{% blocktrans %}Address{% endblocktrans %}</th>
		<th>{% blocktrans %}Country{% endblocktrans %}</th>
		<th>{% blocktrans %}Created By{% endblocktrans %}</th>
		<th>{% blocktrans %}Edit{% endblocktrans %}</th>
		<th>{% blocktrans %}Delete{% endblocktrans %}</th>
	</tr></thead>
	<tbody>
	{% for address in addresses %}
	<tr><th>{{ address.name }}</th>
		<td><strong>{{ address.recipient }}</strong><br />{{ address.human_phone|default_if_none:"-" }}{% if address.email %}<br /><a href="mailto:{{ address.email }}">{{ address.email }}</a>{% endif %}</td>
		<td>{{ address.address|linebreaks }}</td>
		<td>{{ address.verbose_country|default_if_none:"-" }}</td>
		<td>{{ address.created_by.name }}</td>
		<td><a href="{% url 'address_edit' address.id %}" class="btn btn-sm btn-secondary">{% blocktrans %}Edit{% endblocktrans %}</a></td>
		<td><a href="{% url 'address_delete' address.id %}" class="btn btn-sm btn-warning" data-toggle="confirmation" data-title="{% blocktrans %}Delete this address?{% endblocktrans %}">{% blocktrans %}Delete{% endblocktrans %}</a></td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% include "_paginator.html" with items_page=addresses_page filter_name="all" filter_value=address_filter|yesnoraw %}
{% else %}
<p class="info">{% blocktrans %}There's none. Add one?{% endblocktrans %}</p>
{% endif %}
{% endblock %}

{% block javascript %}$('[data-toggle="popover"]').popover();{% endblock %}
