{% extends "base.html" %}
{% load manager %}

{% block content %}
<h3>Create New Address</h3>
<form method="POST" class="form-check form-check-inline">
	{% csrf_token %}
	<input type="hidden" name="form" value="address_form">
	<div class="form-row visual-group">
		<div class="form-group col-md-3">{% include "_input_field.html" with field=address_form.name %}</div>
		<div class="form-group col-md-3">{% include "_input_field.html" with field=address_form.recipient %}</div>
		<div class="form-group col-md-4">{% include "_input_field.html" with field=address_form.email %}</div>
		<div class="form-group col-md-2">{% include "_input_field.html" with field=address_form.phone %}</div>
		<div class="form-group col-md-6">{% include "_input_field.html" with field=address_form.address textarea=1 %}</div>
		<div class="form-group col-md-3">{% include "_input_field.html" with field=address_form.country use_raw=1 %}</div>
		<div class="form-group col-md-3"><label>-</label><button class="btn btn-primary form-check-input form-control">Create Address</button></div>
	</div>
</form>
{% endblock %}

{% block javascript %}$('[data-toggle="popover"]').popover();{% endblock %}
