{% extends "base.html" %}
{% load i18n %}
{% load manager %}

{% block content %}
<h3>Base Image</h3>
<ul>
	<li>Version: <code>{{ base_image.url }}</code></li>
	<li><code>{{ base_image.rootfs_size }}</code> ({{ base_image.rootfs_size|human_size }})</li>
</ul>

<h3>{% blocktrans %}Organizations{% endblocktrans %}</h3>
<p class="info">{% blocktrans %}Organizations holds the configurations, orders and units.{% endblocktrans %}</p>
{% if organizations %}
<table class="table table-striped">
	<thead><tr>
		<th>{% blocktrans %}Slug{% endblocktrans %}</th>
		<th>{% blocktrans %}Name{% endblocktrans %}</th>
		<th>{% blocktrans %}Channel{% endblocktrans %}</th>
		<th>{% blocktrans %}WH{% endblocktrans %}</th>
		<th>{% blocktrans %}Pub WH{% endblocktrans %}</th>
		<th>{% blocktrans %}Email{% endblocktrans %}</th>
		<th>{% blocktrans %}Units{% endblocktrans %}</th>
	</tr></thead>
	<tbody>
	{% for organization in organizations %}
	<tr><th><a href="{% url "admin:manager_organization_change" organization.slug %}"><code>{{ organization.slug }}</code></a></th>
		<td>{{ organization.name }}</td>
		<td>{{ organization.channel }}</td>
		<td>{{ organization.warehouse }}</td>
		<td>{{ organization.public_warehouse }}</td>
		<td><a href="mailto:{{ organization.email }}">{{ organization.email }}</a></td>
		<td><form method="POST">{% csrf_token %}
			<input type="hidden" name="form" value="units_form">
			<input type="hidden" name="units_form-organization" value="{{ organization.slug }}">
			<input type="number" name="units_form-units" value="{{ organization.units }}" min="0" max="256000" step="8" class="form-control form-control-inline" /> 
			<button type="submit" class="btn btn-sm btn-secondary">{% blocktrans %}Update Units{% endblocktrans %}</button></form>
		</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% else %}
{% blocktrans asvar no_org_msg %}hum, there's no Organization. That's weird.{% endblocktrans %}
{% include "error.html" with level="warning" message=no_org_msg %}
{% endif %}
<form method="POST" class="form-check form-check-inline">
	{% csrf_token %}
	<input type="hidden" name="form" value="org_form">
	<div class="form-row visual-group">
		<div class="form-group col-md-2">{% include "_label_for.html" with field=org_form.slug %}{{ org_form.slug|as_widget }}</div>
		<div class="form-group col-md-2">{% include "_label_for.html" with field=org_form.name %}{{ org_form.name|as_widget }}</div>
		<div class="form-group col-md-1">{% include "_label_for.html" with field=org_form.channel %}{{ org_form.channel|as_widget }}</div>
		<div class="form-group col-md-1">{% include "_label_for.html" with field=org_form.warehouse %}{{ org_form.warehouse|as_widget }}</div>
		<div class="form-group col-md-1">{% include "_label_for.html" with field=org_form.public_warehouse %}{{ org_form.public_warehouse|as_widget }}</div>
		<div class="form-group col-md-2">{% include "_label_for.html" with field=org_form.email %}{{ org_form.email|as_widget }}</div>
		<div class="form-group col-md-1">{% include "_label_for.html" with field=org_form.units %}{{ org_form.units|as_widget }}</div>
		<div class="form-group col-md-2"><label>-</label><button class="btn btn-primary form-check-input form-control">{% blocktrans %}Create Organization{% endblocktrans %}</button></div>
	</div>
</form>

<h3>{% blocktrans %}Manager Users{% endblocktrans %}</h3>
{% if profiles %}
<table class="table table-striped">
	<thead><tr>
		<th>{% blocktrans %}Username{% endblocktrans %}</th>
		<th>{% blocktrans %}Organization{% endblocktrans %}</th>
		<th>{% blocktrans %}Email{% endblocktrans %}</th>
		<th>{% blocktrans %}Name{% endblocktrans %}</th>
		<th>{% blocktrans %}Expiry{% endblocktrans %}</th>
		<th>{% blocktrans %}Active{% endblocktrans %}</th>
		<th>{% blocktrans %}Delete{% endblocktrans %}</th>
	</tr></thead>
	<tbody>
	{% for profile in profiles %}
	<tr><th><a href="{% url "admin:auth_user_change" profile.user.id %}"><code>{{ profile.user.username }}</code></a>{% if profile.can_order_physical %} <i class="fas fa-sd-card"></i>{% endif %}{% if profile.user.is_staff %} (admin){% endif %}</th>
		<td>{{ profile.organization }}</td>
		<td><a href="mailto:{{ profile.user.email }}">{{ profile.user.email }}</a></td>
		<td>{{ profile.name }}</td>
		<td>{{ profile.expire_on|default_if_none:"-" }}</td>
		<td><a class="btn btn-sm btn-warning" href="{% url "admin_toggle_account" profile.username %}">{{ profile.user.is_active|yesno }}: {% if profile.user.is_active %}{% blocktrans %}disable{% endblocktrans %}{% else %}{% blocktrans %}enable{% endblocktrans %}{% endif %}</a></td>
		<td><a data-toggle="confirmation" data-title="Delete {{ profile }} ?" class="btn btn-sm btn-danger" href="{% url "admin_delete_account" profile.username %}">{% blocktrans %}delete{% endblocktrans %}</a></td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% else %}
{% blocktrans asvar no_user_msg %}hum, there's no User. That's weird.{% endblocktrans %}
{% include "error.html" with level="warning" message=no_user_msg %}
{% endif %}
<form method="POST" class="form-check form-check-inline">
	{% csrf_token %}
	<input type="hidden" name="form" value="profile_form">
	<div class="form-row visual-group">
		<div class="form-group col-md-1">{% include "_label_for.html" with field=profile_form.organization %}{{ profile_form.organization|as_widget }}</div>
		<div class="form-group col-md-2">{% include "_label_for.html" with field=profile_form.name %}{{ profile_form.name|as_widget }}</div>
		<div class="form-group col-md-2">{% include "_label_for.html" with field=profile_form.email %}{{ profile_form.email|as_widget }}</div>
		<div class="form-group col-md-2">{% include "_label_for.html" with field=profile_form.username %}{{ profile_form.username|as_widget }}</div>
		<div class="form-group col-md-2">{% include "_label_for.html" with field=profile_form.password %}{{ profile_form.password|as_widget }}</div>
		<div class="form-group col-md-1">{% include "_label_for.html" with field=profile_form.is_admin %}{{ profile_form.is_admin|as_widget }}</div>
		<div class="form-group col-md-1">{% include "_label_for.html" with field=profile_form.can_sd %}{{ profile_form.can_sd|as_widget }}</div>
		<div class="form-group col-md-1"><label>-</label><button class="btn btn-primary form-check-input form-control">{% blocktrans %}Create{% endblocktrans %}</button></div>
	</div>
</form>

<h3>{% blocktrans %}Media Sizes{% endblocktrans %}</h3>
{% if medias %}
<table class="table table-striped">
	<thead><tr>
		<th>{% blocktrans %}Name{% endblocktrans %}</th>
		<th>{% blocktrans %}Kind{% endblocktrans %}</th>
		<th>{% blocktrans %}Size{% endblocktrans %}</th>
		<th>{% blocktrans %}Units Coef{% endblocktrans %}</th>
	</tr></thead>
	<tbody>
	{% for media in medias %}
	<tr><th><a href="{% url "admin:manager_media_change" media.id %}">{{ media.name }}</a></th>
		<td>{{ media.verbose_kind }}</td>
		<td>{{ media.bytes|human_size }}</a></td>
		<td>{{ media.units_coef }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% else %}
{% blocktrans asvar no_media_msg %}hum, there's no Media. That's weird.{% endblocktrans %}
{% include "error.html" with level="warning" message=no_media_msg %}
{% endif %}
<form method="POST" class="form-check form-check-inline">
	{% csrf_token %}
	<input type="hidden" name="form" value="media_form">
	<div class="form-row visual-group">
		<div class="form-group col-md-3">{% include "_label_for.html" with field=media_form.name %}{{ media_form.name|as_widget }}</div>
		<div class="form-group col-md-3">{% include "_label_for.html" with field=media_form.kind %}{{ media_form.kind|as_widget }}</div>
		<div class="form-group col-md-2">{% include "_label_for.html" with field=media_form.size %}{{ media_form.size|as_widget }}</div>
		<div class="form-group col-md-2">{% include "_label_for.html" with field=media_form.units_coef %}{{ media_form.units_coef|as_widget }}</div>
		<div class="form-group col-md-2"><label>-</label><button class="btn btn-primary form-check-input form-control">{% blocktrans %}Add Media{% endblocktrans %}</button></div>
	</div>
</form>
{% endblock %}

{% block javascript %}
	$('[data-toggle="popover"]').popover();
{% endblock %}
