{% extends "base.html" %}
{% load i18n %}
{% load manager %}

{% block content %}
{% if orderdata.can_recreate %}<a href="{% url 'all-orders-recreate' order_id=orderdata.id %}"
                                  class="btn btn-sm btn-warning"
                                  data-toggle="confirmation"
                                  data-title="Create a new identical order?"
                                  style="float:right;">{% blocktrans %}re-create{% endblocktrans %}</a>{% endif %}
<h3>{% blocktrans with id=orderdata.id %}Order #<code>{{ id }}</code>{% endblocktrans %}</h3>
{% include "order_detail.html" with orderdata=orderdata %}
{% endblock %}

{% block javascript %}
	$('[data-toggle="popover"]').popover();
	$('.toggle').on("click", function (e) {
		$(".pretty-config").toggleClass("hidden");
	});
{% endblock %}
