{% extends "base.html" %}
{% load manager %}

{% block content %}
<h2>Orders</h2>
{% if orders %}
<table class="table table-striped">
	<thead><tr><th>ID</th><th>Summary</th><th>Client</th><th>Country</th><th>Created On</th><th>Status</th><th>Delete</th></tr></thead>
	<tbody>
	{% for order in orders %}
	<tr>
		<th><a href="{% url "all-orders-detail" order_id=order.id %}">{{ order.id }}</a></th>
		<td>{{ order.config_name }} ({{ order.quantity }} x {{ order.sd_card.size }}GB = {{ order.units }}U)</td>
		<td>{{ order.client.name }}</td>
		<td>{{ order.recipient.country|country|default_if_none:"-" }}</td>
		<td>{% if order.statuses %}{{ order.statuses.0.on|datetime }}{% else %}-{% endif %}</td>
		<td>{{ order.status }}</td>
		<td><a href="{% url "all-orders-delete" order_id=order.id %}" class="btn btn-sm btn-danger" data-toggle="confirmation" data-title="Delete this order?">delete</a></td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% include "_paginator.html" with items_page=orders_page filter_name="only" filter_value=order_filter %}
{% else %}
<p class="info">No orders.</p>
{% endif %}

{% endblock %}

{% block javascript %}
	$('[data-toggle="popover"]').popover();
{% endblock %}
