{% extends "base.html" %}
{% load i18n %}
{% load manager %}

{% block content %}
<h1>{% blocktrans %}Beta Features{% endblocktrans %}</h1>
<p class="alerts alert alert-info">{% blocktrans with org=user.profile.organization %}<em>{{ org }}</em> Organization's Beta Status: <strong>{{ status }}</strong>{% endblocktrans %}</p>


<form id="enable-form" method="POST">
    {% csrf_token %}

<input type="hidden" name="toggle" value="{% if user.profile.organization.beta_is_active %}disable{% else %}enable{% endif %}" />
<button class="btn btn-primary">
    {% if user.profile.organization.beta_is_active %}
        {% blocktrans with org=user.profile.organization %}I want to disable beta features for <em>{{ org }}</em>{% endblocktrans %}
    {% else %}
        {% blocktrans with org=user.profile.organization %}I want to enable beta features for <em>{{ org }}</em>{% endblocktrans %}
    {% endif %}
</button>
</form>

<hr />

{% blocktrans %}
<ul>
    <li>This is for <strong>testing only</strong>. Those features are likely buggy and unfinished.</li>
    <li>We expect people testing those features to send us feedback:</li>
        <ul>
            <li>Submit an issue <a href="https://github.com/offspot/overview/issues/new">On Github</a> or send an email to <a href="mailto:contact+offspot@kiwix.org"><code>contact+offspot@kiwix.org</code></a> (if you don't want to create an account there).</li>
        </ul>
    </ul>
</ul>
{% endblocktrans %}

<hr />

<h2>{% blocktrans %}Current beta{% endblocktrans %}</h3>
<dl>
    {% for feature, desc in BETA_FEATURES.items %}
    <dt><code>{{ feature }}</code></dt>
    <dd>{{ desc }}</dt>
    {% empty %}
    <li>{% blocktrans %}None at the moment{% endblocktrans %}</li>
    {% endfor %}
</ul>

{% endblock %}
