{% extends "base.html" %}
{% load manager %}

{% block content %}
<h3>{{ user.profile.organization }}'s configurations</h3>
<p class="info">Sets of options and selection of contents you want on your Hotspot Image/Card.</p>
<p class="info">Create one for <strong>each individual deployment</strong> as all options are customizable only at this stage.<br />
A running hotspot can't be renamed or content added to it <sup>(mostly)</sup>.</p> 
<p class="info">Create from scratch or start by importing an existing JSON file (from an export).</p>

<p><div class="btn-group" role="group" aria-label="Filter">
	<a class="btn btn-sm {% if config_filter %} btn-secondary{% else %}btn-outline-secondary{% endif %}"  href="?all=no">Updated by me</a>
	<a class="btn btn-sm {% if not config_filter %} btn-secondary{% else %}btn-outline-secondary{% endif %}" href="?all=yes">All</a>
</div>
<form method="POST" enctype="multipart/form-data" class="float-right form-check form-check-inline">{% csrf_token %}{{ form.file }}<button class="btn btn-sm btn-outline-primary form-check-input">Import file</button>{% if form.errors %}{{ form.errors }}{% endif %}<a href="{% url 'configuration_add' %}" class="btn btn-sm btn-primary form-check-input">Create Blank</a></form></p>

{% if configurations|length %}
<table class="table table-striped">
	<thead><tr><th>Name</th><th>Size</th><th>SD Size (min)</th><th>Updated By</th><th>Updated On</th><th>Export</th><th>Duplicate</th><th>Delete</th></tr></thead>
	<tbody>
	{% for configuration in configurations %}
	<tr><th><a href="{% url 'configuration_edit' configuration.id %}">{{ configuration }}</a></th>
		<td>{{ configuration.size|human_size }}</td>
		<td>{{ configuration.min_media }}</td>
		<td>{{ configuration.updated_by.name }}</td>
		<td>{{ configuration.updated_on }}</td>
		<td><a href="{% url 'configuration_export' configuration.id %}" class="btn btn-sm btn-secondary">Export</a></td>
		<td><a href="{% url 'configuration_duplicate' configuration.id %}" class="btn btn-sm btn-secondary">Duplicate</a></td>
		<td><a href="{% url 'configuration_delete' configuration.id %}" class="btn btn-sm btn-warning" data-toggle="confirmation" data-title="Delete this configuration?">Delete</a></td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% else %}
<p class="info">hum, there's no existing configuration. Why don't you <a href="{% url 'configuration_add' %}">create one</a>.</p>
{% endif %}
{% endblock %}
