{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load manager %}

{% block content %}

	{% if form.errors or form.non_field_errors %}<div class="alert alert-danger">{% blocktrans %}Your config has errors and can not be saved. Please fix them and retry.{% endblocktrans %}{% if form.non_field_errors %}<br />{{ form.non_field_errors }}{% endif %}</div>{% endif %}

	{% if missing_zims %}
	<div class="alert alert-danger">{% blocktrans count counter=missing_zims|length %}
		<p>Your config contains one ZIM that is not present anymore in the catalog. It might have been removed but has most likely been renamed.</p>
		<p>Said ZIM will be <strong>automatically removed</strong> as soon as you <em>Update the Configuration</em>. Make sure to <strong>add-back renamed version</strong> if applicable.</p>
		{% plural %}
		<p>Your config contains {{ counter }} ZIMs that are not present anymore in the catalog. Those might have been removed but have most likely been renamed.</p>
		<p>Said ZIMs will be <strong>automatically removed</strong> as soon as you <em>Update the Configuration</em>. Make sure to <strong>add-back renamed versions</strong> if applicable.</p>{% endblocktrans %}
		<ul>{% for package in missing_zims %}<li><code>{{ package }}</code></li>{% endfor %}</ul>
	</div>
	{% endif %}

	<ul class="nav nav-tabs" id="configMenuTabHolder" role="tablist">
		<li class="nav-item"><a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">{% blocktrans %}General{% endblocktrans %}</a></li>
		<li class="nav-item"><a class="nav-link" id="branding-tab" data-toggle="tab" href="#branding" role="tab" aria-controls="branding" aria-selected="false">{% blocktrans %}Branding{% endblocktrans %}</a></li>
		<li class="nav-item"><a class="nav-link" id="contents-tab" data-toggle="tab" href="#contents" role="tab" aria-controls="contents" aria-selected="false">{% blocktrans %}Content{% endblocktrans %}</a></li>
		<li class="nav-item"><a class="nav-link disabled">
			<span id="img_size_holder" class="info" data-container="body" data-toggle="popover" data-trigger="hover" data-content="{% blocktrans %}Size of Selected Contents{% endblocktrans %}"><i class="fas fa-hdd"></i> <span id="image_req_size">?</span></span> – 
			<span id="sd_size_holder" class="warning" data-container="body" data-toggle="popover" data-trigger="hover" data-content="{% blocktrans %}Minimum SD-card Size required for Selected Contents{% endblocktrans %}"><i class="fa fa-save"></i> <span id="sd_size">?</span></span>
		</a></li>
	</ul>

	<p></p>

	<form method="POST" enctype="multipart/form-data" class="edit-config">
	{% csrf_token %}

	<div class="tab-content" id="configMenuTabHolderContent">

		<div class="form-row visual-group">
		<div class="col-md-9"></div>
		<div class="col-md-3"><button type="submit" class="btn btn-primary btn-sm form-control" style="margin-bottom: .5em;">{% blocktrans %}Update Configuration{% endblocktrans %}</button></div>
		</div>

	<div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
		<h3>{% blocktrans %}Hotspot{% endblocktrans %}</h3>
		<div class="form-row visual-group">
			<div class="form-group col-md-6">
				{% blocktrans asvar hotspot_placeholder %}My Hotspot{% endblocktrans %}
				{% include "_input_field.html" with field=form.project_name placeholder=hotspot_placeholder %}
			</div>
			<div class="form-group col-md-6">
				{% blocktrans asvar config_placeholder %}My Project Config{% endblocktrans %}
				{% include "_input_field.html" with field=form.name placeholder=config_placeholder %}
			</div>
		</div>

		<h3>{% blocktrans %}Region{% endblocktrans %}</h3>
		<div class="form-row visual-group">
			<div class="form-group col-md-6">
			  {% include "_label_for.html" with field=form.language %}
			  {{ form.language|as_widget }}
			  {% if form.language.help_text %}<small id="{{ form.language.id_for_label }}Help" class="form-text text-muted">{{ form.language.help_text|safe }}</small>{% endif %}
			</div>
			<div class="form-group col-md-6">
			  {% include "_label_for.html" with field=form.timezone %}
			  {{ form.timezone|as_widget }}
			  {% if form.timezone.help_text %}<small id="{{ form.timezone.id_for_label }}Help" class="form-text text-muted">{{ form.timezone.help_text|safe }}</small>{% endif %}
			</div>
		</div>

		<h3>{% blocktrans %}Security{% endblocktrans %}</h3>
		<div class="form-row visual-group">
			<div class="form-group col-md-4">
				{% blocktrans asvar wifi_placeholder %}Open WiFi{% endblocktrans %}
				{% include "_input_field.html" with field=form.wifi_password placeholder=wifi_placeholder %}
			</div>
			<div class="form-group col-md-4">
				{% include "_input_field.html" with field=form.admin_account %}
			</div>
			<div class="form-group col-md-4">
				{% include "_input_field.html" with field=form.admin_password %}
			</div>
		</div>
	</div>

	<div class="tab-pane fade" id="branding" role="tabpanel" aria-labelledby="branding-tab">
		<h3>{% blocktrans %}Branding{% endblocktrans %}</h3>
		<p>{% blocktrans %}This section allows you to replace some visual elements with your own branding.{% endblocktrans %}</p>
		<div class="form-row visual-group">
			<div class="form-group col-md-12">
				{% include "_input_field.html" with field=form.branding_logo type=file use_raw=1 %}
			  	{% include "_file_preview.html" with field=form.branding_logo %}
			</div>
		</div>
		<hr />
		<h4>{% blocktrans %}Advanced Branding{% endblocktrans %}</h4>
		<p>{% blocktrans %}Change <em>favicon</em> and <em>CSS</em> only of you know what you are doing.{% endblocktrans %}</p>
		<div class="form-row visual-group">
			<div class="form-group col-md-6">
				{% include "_input_field.html" with field=form.branding_favicon type=file use_raw=1 %}
				{% include "_file_preview.html" with field=form.branding_favicon class="favicon" %}
			</div>
			<div class="form-group col-md-6">
			  {% include "_input_field.html" with field=form.branding_css type=file use_raw=1 %}
			</div>
		</div>

	</div>

  	<div class="tab-pane fade" id="contents" role="tabpanel" aria-labelledby="contents-tab">
  		{% if form.content_zims.errors %}<div class="alert alert-danger">{% blocktrans with errors=form.content_zims.errors %}Your selection has errors: {{ errors }}{% endblocktrans %}</div>{% endif %}
  		<input type="hidden" id="{{ form.content_zims.id_for_label }}" class="form-control" 
  			   value="{{ form.content_zims.value|default_if_none:'' }}"
  			   name="{{ form.content_zims.html_name }}"/>


  		<h3>{% blocktrans %}Interactive Tools{% endblocktrans %}</h3>
		<div class="form-row visual-group">
			<div class="form-group col-md-4">
				{% include "_input_field.html" with field=form.content_edupi type="checkbox" size="10 MiB" %}
			</div>
			<div class="form-group col-md-4">
				{% include "_input_field.html" with field=form.content_edupi_resources changes_size=1 %}
			</div>
			<div class="form-group col-md-4">
			</div>
		</div>

		<div class="form-row visual-group">
			<div class="form-group col-md-4">
				{% include "_input_field.html" with field=form.content_nomad type="checkbox" size="50 MiB" %}
			</div>
			<div class="form-group col-md-4">
				{% include "_input_field.html" with field=form.content_mathews type="checkbox" size="50 MiB" %}
			</div>
			<div class="form-group col-md-4">
			</div>
		</div>

		<div class="form-row visual-group">
			<div class="form-group col-md-4">
				{% include "_input_field.html" with field=form.content_africatik type="checkbox" size="12.94 GiB" %}
			</div>
			<div class="form-group col-md-4">
				{% include "_input_field.html" with field=form.content_africatikmd type="checkbox" size="4.09 GiB" %}
			</div>
			<div class="form-group col-md-4">
			</div>
		</div>

		<div class="form-row visual-group">
			<div class="form-group col-md-4">
				{% include "_input_field.html" with field=form.content_kalite_fr type="checkbox" size="11.35 GiB" %}
			</div>
			<div class="form-group col-md-4">
				{% include "_input_field.html" with field=form.content_kalite_en type="checkbox" size="47.68 GiB" %}
			</div>
			<div class="form-group col-md-4">
				{% include "_input_field.html" with field=form.content_kalite_es type="checkbox" size="22.11 GiB" %}
			</div>
		</div>

		<div class="form-row visual-group">
			<div class="form-group col-md-4">
				{% include "_input_field.html" with field=form.content_wikifundi_fr type="checkbox" size="4.43 GiB" %}
			</div>
			<div class="form-group col-md-4">
				{% include "_input_field.html" with field=form.content_wikifundi_en type="checkbox" size="5.13 GiB" %}
			</div>
			<div class="form-group col-md-4">
				{% include "_input_field.html" with field=form.content_wikifundi_es type="checkbox" size="5.48 GiB" %}
			</div>
		</div>

		<h3>{% blocktrans %}Static Content Packages{% endblocktrans %}</h3>
		<div class="form-row visual-group">
			<div class="col-md-6">
				<input type="hidden" id="catalog_order" value="" />
				<h4 class="alert alert-info">{% blocktrans %}Available ZIMs{% endblocktrans %} 
			  	<select name="lang_filter" id="lang_filter" class="form-control" style="display: inline; width: auto; height: auto; padding: 0; float: right;">
				  	<option value="">{% blocktrans %}Select a language to filter{% endblocktrans %}</option>
				  	{% for lang_code, lang_name in packages_langs.items %}
				  	<option value="{{ lang_code }}">{{ lang_name }}</option>
				  	{% endfor %}
			  	</select></h4>
			  	<div class="table-cont">
					<table id="packages_list" class="table table-bordered table-striped table-sm2">
					  	<thead><tr>
					  		<th class="ordering" data-ordering="name">{% blocktrans %}Name{% endblocktrans %} <i class="fa fa-sort-alpha-down"></i></th>
					  		<th class="ordering" data-ordering="size">{% blocktrans %}Size{% endblocktrans %} <i class="fa fa-sort-numeric-up"></i></th>
					  	</tr></thead>
					  	<tbody></tbody>
					</table>
				</div>
			</div>

			<div class="col-md-1"></div>

			<div class="col-md-5">
				<h4 class="alert alert-success">{% blocktrans %}Selected ZIMs{% endblocktrans %}</h4>
				<table id="selected_packages_list" class="table table-bordered table-striped">
			  	<thead class=""><tr><th>{% blocktrans %}Name{% endblocktrans %}</th><th>{% blocktrans %}Size{% endblocktrans %}</th></tr></thead>
			  	<tbody>
			  		{% for package in form.content_zims.value|as_packages %}
			  		<tr id="selected-row-{{ package.skey }}"><td><a href="#" class="remove-package" data-package-id="{{ package.key }}"><i data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="{{ package.langid }}" class="fas fa-minus-circle primary"></i></a> <strong>{{ package|parsed_sname }}</strong>{% if package.tags %} {% for tag in package.tags %}<span class="badge badge-pill badge-secondary package-tag">{{ tag }}</span>{% endfor %}{% endif %}<p><em>{{ package.description }}</em></p></td><td>{{ package.size|human_size }}</td>
			  		</tr>
			  		{% endfor %}
			  	</tbody>
			  </table>
			</div>

		</div>
  	</div>

	</div> <!-- tabs -->
	</form>
{% endblock %}

{% block javascript %}
	var edupi_id = "{{ form.content_edupi.id_for_label }}";
	var edupi_resources_id = "{{ form.content_edupi_resources.id_for_label }}";
	var nomad_id = "{{ form.content_nomad.id_for_label }}";
	var mathews_id = "{{ form.content_mathews.id_for_label }}";
	var africatik_id = "{{ form.content_africatik.id_for_label }}";
	var africatikmd_id = "{{ form.content_africatikmd.id_for_label }}";
	var kalite_fr_id = "{{ form.content_kalite_fr.id_for_label }}";
	var kalite_en_id = "{{ form.content_kalite_en.id_for_label }}";
	var kalite_es_id = "{{ form.content_kalite_es.id_for_label }}";
	var wikifundi_fr_id = "{{ form.content_wikifundi_fr.id_for_label }}";
	var wikifundi_en_id = "{{ form.content_wikifundi_en.id_for_label }}";
	var wikifundi_es_id = "{{ form.content_wikifundi_es.id_for_label }}";
	var zim_field_id = "{{ form.content_zims.id_for_label }}";
	var zim_field = $("#" + zim_field_id);
	var packages = [{% for package in form.content_zims.value|as_packages %}"{{ package.langid }}",{% endfor %}];

	function syncPackagesField() {
		zim_field.val(JSON.stringify(packages));
	}

	function onRefresh() {
		registerPopovers();
		registerAddPackage();
		registerRemovePackage();
	}

	function registerPopovers() {
		$('[data-toggle="popover"]').popover();
	}

	// DOM-safe version of the packageId
	function getSafeId(packageId) {
		return packageId.replace(/\./g, "__");
	}

	// packageId derived from catalog packageId (without language extension)
	function getHotspotPackageId(packageId) {
		let parts = packageId.split("_");
		return parts.slice(0, parts.length -1).join("_") + "." + parts[parts.length - 1];
	}

	function getOrdering() {
		return $("#catalog_order").val();
	}

	function setOrdering(order) {
		// set the value so it's used in request
		$("#catalog_order").val(order);
		// update UI so we know which one is selected
		order = (order != "size") ? "name" : order;
		$("[data-ordering]").removeClass("selected");
		$("[data-ordering="+order+"]").addClass("selected");
		// refresh list
		reloadLangFilter();
	}

	function reloadLangFilter() {
		$('#lang_filter').change();
	}

	function removeRow(row) {
		row.find("td a i").popover('dispose');
		row.remove();
	}

	function registerAddPackage() {
		$('.add-package').on('click', function (e) {
			e.preventDefault();

			let safe_id = getSafeId($(this).data('package-id'));
			let package_id = getHotspotPackageId($(this).data('package-id'));
			console.debug("safe_id", safe_id, "package_id", package_id);

			// add package to datalist and refresh size
			if (packages.indexOf(package_id) == -1) {
				console.debug("adding " + package_id);
				packages.push(package_id);
				refreshSize();

				// add row to table
				let selected_table = $('#selected_packages_list tbody');
				let catalog_row = $('tr#catalog-row-' + safe_id);
				let selected_row = $('<tr id="selected-row-'+ safe_id +'">');
				console.log("created row");
				selected_row.html(catalog_row.html());
				console.log("updated row html");
				console.log(selected_row.html());
				selected_table.append(selected_row);
				console.log("added row to table");
				// update UI inside row
				$(selected_row.find('.fa-plus-circle')).attr('class', 'fas fa-minus-circle primary');
				$(selected_row.find('.add-package')).attr('class', 'remove-package');

				// remove row from catalog
				removeRow(catalog_row);
			}

			// refresh form field
			syncPackagesField();

			// make sure new item can popover
			registerPopovers();

			registerRemovePackage();
		});
	}

	function registerRemovePackage() {
		$('.remove-package').on('click', function (e) {
			e.preventDefault();

			let safe_id = getSafeId($(this).data('package-id'));
			let package_id = getHotspotPackageId($(this).data('package-id'));

			// remove package from datalist and refresh size
			if (packages.indexOf(package_id) != -1) {
				console.debug("removing " + package_id);
				packages.splice(packages.indexOf(package_id), 1);
				refreshSize();
			}

			// remove row from table
			removeRow($('#selected-row-'+ safe_id));

			// refresh form field
			syncPackagesField();

			// refresh popovers
			registerPopovers();

			// reload lang filter (so it can be added back)
			reloadLangFilter();
		});
	}

	function registerZIMChooser() {
		$('#lang_filter').on('change', function(e) {
			// remove popovers to prevent zombies
			//$('[data-toggle="popover"]').popover('dispose');

			let lang_code = $(this).val() || "none";
			let packages_list = $('#packages_list tbody');
			let order = $("#catalog_order").val();
			$.getJSON("/api/packages/lang_" + lang_code + "?order=" + order, function () {})
				.done(function (data) {
					console.log(data);
					packages_list.empty();
					$.each(data.packages, function(package_key, package) {

						// don't add row to catalog if already selected
						if (packages.indexOf(package_key) != -1) {
							return;
						}

						// tags to badges
						let tags = $('<span>');
						$.each(package.tags, function (ti, tag) {
							tags.append($('<span class="badge badge-pill badge-secondary package-tag">' + tag + '</span>\n'));
						});

						let row = $('<tr id="catalog-row-'+ package.skey +'">');
						let main_td = '<a href="#" class="add-package" data-package-id="'+package.key +'"><i data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="'+ package_key +'" class="fas fa-plus-circle primary"></i></a> <strong>' + package.sname + '</strong> ' + tags.html() + '<p><em>' + package.description+'</em></p>';
						row.append($('<td>').html(main_td));
						row.append($('<td>').text(package.hsize));

						packages_list.append(row);
					});

					// register actions
					onRefresh();

				})
				.fail(function (error) {
					console.log(error);
				});
		});
	}

	function onInit() {
		console.debug("initialization");
		refreshSize();

		// register tab behavior
		$('#configMenuTabHolder a').on('click', function (e) {
		  e.preventDefault()
		  $(this).tab('show');
		});

		// register contents checkboxes
		$('.changes-size').on('change', function (e) {
			refreshSize();
		});

		// register ZIM chooser
		registerZIMChooser();

		// register changes in ordering
		$(".ordering").on("click", function (e) {
			setOrdering($(this).data("ordering"));
		});
		setOrdering("name");

		// first refresh run
		onRefresh();
	}

	function refreshSize() {
		let free_space_template = "{% blocktrans %}__media_size__ <small>(__free_size__ free)</small>{% endblocktrans %}";
		console.log(free_space_template);
		let config = {
			edupi: $('#' + edupi_id).is(':checked'),
			edupi_resources: $('#' + edupi_resources_id).val(),
			nomad: $('#' + nomad_id).is(':checked'),
			mathews: $('#' + mathews_id).is(':checked'),
			africatik: $('#' + africatik_id).is(':checked'),
			africatikmd: $('#' + africatikmd_id).is(':checked'),
			kalite: [],
			wikifundi: [],
			packages: packages,
		};
		$.each(["fr", "en", "es"], function (i, lang) {
			if ($('#' + eval('kalite_' + lang + '_id')).is(':checked')) {
				config.kalite.push(lang);
			}
			if ($('#' + eval('wikifundi_' + lang + '_id')).is(':checked')) {
				config.wikifundi.push(lang);
			}
		});
		console.log(config);
		$.post("/api/get_size", JSON.stringify(config), function () {})
			.done(function (data) {
				console.log(data);
				$('#image_req_size').text(data.hsize);

				if (data.media_size == null) {
					$('#sd_size_holder')[0].className = "danger";
					$('#sd_size').text("n/a");
					$('button[type=submit]').addClass("btn-danger");
				} else {
					$('#sd_size_holder')[0].className = "success";
					$('#sd_size').html(free_space_template.replace("__media_size__", data.media_size).replace("__free_size__", data.hfree));
					$('button[type=submit]').removeClass("btn-danger");
				}

			})
			.fail(function (error) {
				console.log(error);
			});
	}

	onInit();
{% endblock %}
