{% extends "base.html" %}
{% load manager %}

{% block content %}
<h3>New Configuration</h3>
<p class="info">Create a new Plug Configuration from scratch or start by importing an existing JSON file. Anyway, you'll be able to edit it afterwards.</p>
<form method="POST" enctype="multipart/form-data" class="form-check form-check-inline">
{% csrf_token %}
	<a href="{% url 'add_configuration' %}" class="btn btn-primary form-check-input">Create New</a>
	{{ form.file }}<button class="btn btn-outline-primary form-check-input">Import file</button>
	{% if form.errors %}{{ form.errors }}{% endif %}
</form>

<h3>{{ user.profile.organization }}'s configurations</h3>
{% if configurations|length %}
<table class="table table-striped">
	<thead><tr><th>Name</th><th>Size</th><th>SD Size (min)</th><th>Updated On</th><th>Export</th></tr></thead>
	<tbody>
	{% for configuration in configurations %}
	<tr><th><a href="{% url 'edit_configuration' configuration.id %}">{{ configuration }}</a></th>
		<td>{{ configuration.size|human_size }}</td>
		<td>{{ configuration.min_media }}</td>
		<td>{{ configuration.updated_on }}</td>
		<td><a href="{% url 'export_configuration' configuration.id %}" class="btn btn-sm btn-secondary">Export</a></td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% else %}
<p class="info">hum, there's no existing configuration. Why don't you <a href="{% url 'add_configuration' %}">create one</a>.</p>
{% endif %}
{% endblock %}
