{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load manager %}

{% block css %}
td img {
	float: inline-end;
	width: 48px;
	height: 48px;
	padding: .2em;
}
#back-to-top {
  position: fixed;
  bottom: 1em;
  float: right;
  right: 1em;
  z-index: 100;
}
tr.removed {
	display: none;
}
{% endblock %}

{% block content %}
	<a href="#"><button id="back-to-top" class="btn btn-secondary">↑ Top</button></a>

	{% if form.errors or form.non_field_errors %}
	<div class="alert alert-danger alert-dismissible fade show" role="alert">{% blocktrans %}Your config has errors and can not be saved. Please fix them and retry.{% endblocktrans %}{% if form.non_field_errors %}<br />{{ form.non_field_errors }}{% endif %}
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	</div>{% endif %}

	{% if missing_zims %}
	<div class="alert alert-danger alert-dismissible fade show" role="alert">{% blocktrans count counter=missing_zims|length %}
		<p>Your config contains one ZIM that is not present anymore in the catalog. It might have been removed but has most likely been renamed.</p>
		<p>Said ZIM will be <strong>automatically removed</strong> as soon as you <em>Update the Configuration</em>. Make sure to <strong>add-back renamed version</strong> if applicable.</p>
		{% plural %}
		<p>Your config contains {{ counter }} ZIMs that are not present anymore in the catalog. Those might have been removed but have most likely been renamed.</p>
		<p>Said ZIMs will be <strong>automatically removed</strong> as soon as you <em>Update the Configuration</em>. Make sure to <strong>add-back renamed versions</strong> if applicable.</p>{% endblocktrans %}
		<ul>{% for ident in missing_zims %}<li><code>{{ ident }}</code></li>{% endfor %}</ul>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	</div>
	{% endif %}

	<ul class="nav nav-tabs" id="configMenuTabHolder" role="tablist">
		<li class="nav-item"><a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">{% blocktrans %}General{% endblocktrans %}</a></li>
		<li class="nav-item"><a class="nav-link" id="branding-tab" data-toggle="tab" href="#branding" role="tab" aria-controls="branding" aria-selected="false">{% blocktrans %}Branding{% endblocktrans %}</a></li>
		<li class="nav-item"><a class="nav-link" id="apps-tab" data-toggle="tab" href="#apps" role="tab" aria-controls="apps" aria-selected="false">{% blocktrans %}Apps{% endblocktrans %}</a></li>
		<li class="nav-item"><a class="nav-link" id="zims-tab" data-toggle="tab" href="#zims" role="tab" aria-controls="zims" aria-selected="false">{% blocktrans %}Content{% endblocktrans %}</a></li>
		<li class="nav-item"><a class="nav-link" id="files-tab" data-toggle="tab" href="#files" role="tab" aria-controls="files" aria-selected="false">{% blocktrans %}File Resources{% endblocktrans %}</a></li>
		<li class="nav-item"><a class="nav-link disabled">
			<span id="img_size_holder" class="info" data-container="body" data-toggle="popover" data-trigger="hover" data-content="{% blocktrans %}Size of Selected Contents{% endblocktrans %}"><i class="fas fa-hdd"></i> <span id="image_req_size">?</span></span> –
			<span id="sd_size_holder" class="warning" data-container="body" data-toggle="popover" data-trigger="hover" data-content="{% blocktrans %}Minimum SD-card Size required for Selected Contents{% endblocktrans %}"><i class="fa fa-save"></i> <span id="sd_size">?</span></span>
		</a></li>
	</ul>

	<p></p>

	<form method="POST" enctype="multipart/form-data" class="edit-config">
	{% csrf_token %}

	<div class="tab-content" id="configMenuTabHolderContent">

		<div class="form-row visual-group">
		<div class="col-md-9"></div>
		<div class="col-md-3"><button type="submit" class="btn btn-primary btn-sm form-control" style="margin-bottom: .5em;">{% blocktrans %}Update Configuration{% endblocktrans %}</button></div>
		</div>

	<div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
		<div class="form-row visual-group">
			<div class="form-group col-md-6">
				{% blocktrans asvar hotspot_placeholder %}My Hotspot{% endblocktrans %}
				{% include "_input_field.html" with field=form.project_name placeholder=hotspot_placeholder %}
			</div>
			<div class="form-group col-md-6">
				{% blocktrans asvar config_placeholder %}My Project Config{% endblocktrans %}
				{% include "_input_field.html" with field=form.name placeholder=config_placeholder %}
			</div>
		</div>

		<div class="form-row visual-group">
			<div class="form-group col-md-6">
			  {% include "_label_for.html" with field=form.language %}
			  {{ form.language|as_widget }}
			  {% if form.language.help_text %}<small id="{{ form.language.id_for_label }}Help" class="form-text text-muted">{{ form.language.help_text|safe }}</small>{% endif %}
			</div>
			<div class="form-group col-md-6">
			  {% include "_label_for.html" with field=form.timezone %}
			  {{ form.timezone|as_widget }}
			  {% if form.timezone.help_text %}<small id="{{ form.timezone.id_for_label }}Help" class="form-text text-muted">{{ form.timezone.help_text|safe }}</small>{% endif %}
			</div>
		</div>

		<div class="form-row visual-group">
			<div class="form-group col-md-4">
				{% blocktrans asvar wifi_placeholder %}Open WiFi{% endblocktrans %}
				{% include "_input_field.html" with field=form.wifi_password placeholder=wifi_placeholder %}
			</div>
			<div class="form-group col-md-4">
				{% include "_input_field.html" with field=form.admin_account %}
			</div>
			<div class="form-group col-md-4">
				{% include "_input_field.html" with field=form.admin_password %}
			</div>
		</div>
	</div>

	<div class="tab-pane fade" id="branding" role="tabpanel" aria-labelledby="branding-tab">
		<h3>{% blocktrans %}Branding{% endblocktrans %}</h3>
		<p>{% blocktrans %}This section allows you to replace some visual elements with your own branding.{% endblocktrans %}</p>
		<div class="form-row visual-group">
			<div class="form-group col-md-12">
				{% include "_input_field.html" with field=form.branding_logo type=file use_raw=1 %}
			  	{% include "_file_preview.html" with field=form.branding_logo %}
			</div>
		</div>
		<hr />
		<h4>{% blocktrans %}Advanced Branding{% endblocktrans %}</h4>
		<p>{% blocktrans %}Change <em>favicon</em> and <em>CSS</em> only of you know what you are doing.{% endblocktrans %}</p>
		<div class="form-row visual-group">
			<div class="form-group">
				{% include "_input_field.html" with field=form.branding_favicon type=file use_raw=1 %}
				{% include "_file_preview.html" with field=form.branding_favicon class="favicon" %}
			</div>
		</div>

	</div>

	<input type="hidden" id="{{ form.content_zims.id_for_label }}" class="form-control"
			   value="{{ form.content_zims.value|default_if_none:'' }}"
			   name="{{ form.content_zims.html_name }}"/>
	<input type="hidden" id="{{ form.content_packages.id_for_label }}" class="form-control"
			   value="{{ form.content_packages.value|default_if_none:'' }}"
			   name="{{ form.content_packages.html_name }}"/>
	<!-- using single order for all contents tables -->
	<input type="hidden" id="catalog_order" value="" />

	<div class="tab-pane fade" id="apps" role="tabpanel" aria-labelledby="apps-tab">
		{% if form.content_packages.errors %}<div class="alert alert-danger">{% blocktrans with errors=form.content_packages.errors %}Your selection has errors: {{ errors }}{% endblocktrans %}</div>{% endif %}

		<h4>{% blocktrans %}Options{% endblocktrans %}</h4>
		<div class="form-row visual-group">
			<div class="form-group col-md-6">
				{% include "_input_field.html" with field=form.content_edupi_resources changes_size=1 %}
			</div>
			<div class="col-md-1"></div>
			<div class="form-group col-md-5">
				{% include "_input_field.html" with field=form.content_metrics type="checkbox" changes_size=1 %}
			</div>
		</div>

		<div class="form-row visual-group">
			<div class="col-md-6">

				<h4 class="alert alert-info">{% blocktrans %}Available App Packages (mostly interactive){% endblocktrans %}</h4>
				<div class="table-cont">
					<table class="table table-bordered table-striped table-sm2 available">
					  	<thead><tr>
					  		<th>{% blocktrans %}Name{% endblocktrans %}</th>
					  		<th>{% blocktrans %}Size{% endblocktrans %}</th>
					  	</tr></thead>
					  	<tbody></tbody>
					</table>
				</div>
		 </div>

			<div class="col-md-1"></div>

			<div class="col-md-5">
				<h4 class="alert alert-success">{% blocktrans %}Selected Apps{% endblocktrans %}</h4>
				<table class="table table-bordered table-striped selected">
			  	<thead><tr><th>{% blocktrans %}Name{% endblocktrans %}</th><th>{% blocktrans %}Size{% endblocktrans %}</th></tr></thead>
			  	<tbody></tbody>
			  </table>
			</div>

		</div>
	</div>

	<div class="tab-pane fade" id="files" role="tabpanel" aria-labelledby="files-tab">
		{% if form.content_packages.errors %}<div class="alert alert-danger">{% blocktrans with errors=form.content_packages.errors %}Your selection has errors: {{ errors }}{% endblocktrans %}</div>{% endif %}

		<div class="form-row visual-group">
			<div class="col-md-6">
				<h4 class="alert alert-info">{% blocktrans %}Available File Packages{% endblocktrans %}</h4>
				<div class="table-cont">
					<table class="table table-bordered table-striped table-sm2 available">
					  	<thead><tr>
					  		<th>{% blocktrans %}Name{% endblocktrans %}</th>
					  		<th>{% blocktrans %}Size{% endblocktrans %}</th>
					  	</tr></thead>
					  	<tbody></tbody>
					</table>
				</div>
		 </div>

			<div class="col-md-1"></div>

			<div class="col-md-5">
				<h4 class="alert alert-success">{% blocktrans %}Selected Files{% endblocktrans %}</h4>
				<table class="table table-bordered table-striped selected">
			  	<thead><tr><th>{% blocktrans %}Name{% endblocktrans %}</th><th>{% blocktrans %}Size{% endblocktrans %}</th></tr></thead>
			  	<tbody></tbody>
			  </table>
			</div>

		</div>
	</div>

	<div class="tab-pane fade" id="zims" role="tabpanel" aria-labelledby="zims-tab">
		{% if form.content_zims.errors %}<div class="alert alert-danger">{% blocktrans with errors=form.content_zims.errors %}Your selection has errors: {{ errors }}{% endblocktrans %}</div>{% endif %}

		<div class="form-row visual-group">
			<div class="col-md-6">
				<input type="hidden" id="catalog_order" value="" />
				<h4 class="alert alert-info">{% blocktrans %}Available ZIMs{% endblocktrans %}
			  	<select name="lang_filter" id="lang_filter" class="form-control" style="display: inline; width: auto; height: auto; padding: 0; float: right;">
				  	<option value="">{% blocktrans %}Select a language to filter{% endblocktrans %}</option>
				  	{% for lang_code, lang_name in languages.items %}
				  	<option value="{{ lang_code }}">{{ lang_name }}</option>
				  	{% endfor %}
			  	</select></h4>
			  	<div class="table-cont">
						<table id="zims_list" class="table table-bordered table-striped table-sm2">
						  	<thead><tr>
						  		<th class="ordering" data-ordering="name">{% blocktrans %}Name{% endblocktrans %} <i class="fa fa-sort-alpha-down"></i></th>
						  		<th class="ordering" data-ordering="size">{% blocktrans %}Size{% endblocktrans %} <i class="fa fa-sort-numeric-up"></i></th>
						  	</tr></thead>
						  	<tbody></tbody>
						</table>
					</div>
			</div>

			<div class="col-md-1"></div>

			<div class="col-md-5">
				<h4 class="alert alert-success">{% blocktrans %}Selected ZIMs{% endblocktrans %}</h4>
				<table id="selected_zims_list" class="table table-bordered table-striped">
			  	<thead><tr><th>{% blocktrans %}Name{% endblocktrans %}</th><th>{% blocktrans %}Size{% endblocktrans %}</th></tr></thead>
			  	<tbody>
			  		{% for book in form.content_zims.value|books_from_json %}
			  		<tr id="selected-zim-row-{{ book.ident }}"><td><a href="#" class="remove-zim" data-book-ident="{{ book.ident }}"><i data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="{{ book.ident }}" class="fas fa-minus-circle primary"></i></a> <strong>{{ book.title }}</strong>{% if books.tags %} {% for tag in book.tags %}<span class="badge badge-pill badge-secondary package-tag">{{ tag }}</span>{% endfor %}{% endif %}<p><em>{{ book.description }}</em></p></td><td>{{ book.size|human_size }}</td>
			  		</tr>
			  		{% endfor %}
			  	</tbody>
			  </table>
			</div>

		</div>
  	</div>

	</div> <!-- tabs -->
	</form>
{% endblock %}

{% block javascript %}
	var app_catalog = {{ app_catalog|to_json|safe }};
	var edupi_resources_id = "{{ form.content_edupi_resources.id_for_label }}";
	var zim_field_id = "{{ form.content_zims.id_for_label }}";
	var zims_field = $("#" + zim_field_id);
	var packages_field_id = "{{ form.content_packages.id_for_label }}";
	var packages_field = $("#" + packages_field_id);
	var zims_idents = [{% for book in form.content_zims.value|books_from_json %}"{{ book.ident }}",{% endfor %}];
	var apps_idents = [{% for app in form.content_packages.value|apps_from_json %}"{{ app.ident }}",{% endfor %}];
	var files_idents = [{% for file in form.content_packages.value|files_from_json %}"{{ file.ident }}",{% endfor %}];
	var catalogUrl = '{{ CATALOG_URL }}';
	var demoUrl = '{{ DEMO_URL }}';

  function humanSize(sizeInBytes) {
    var i = -1;
    var units = ['kB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
    do {
      sizeInBytes /= 1024;
      i++;
    } while (sizeInBytes > 1024);
    return Math.max(sizeInBytes, 0.1).toFixed(1) + ' ' + units[i];
  }

  function getIllusUrl(book) {
  	return catalogUrl + book.illustration_relpath;
  }

  function getCategory(book) {
  	let category = null;
  	book.tags.forEach( (tag) => {
  		if (tag.indexOf("_category:") == 0) {
  			category = tag.split(":", 2)[1];
  		}
  	});
  	return category;
  }

  function getDemoUrl(book) {
		let name = book.ident.split(":", 3)[1];
  	return `${demoUrl}/${name}`;
  }


	function syncZimsField() {
		zims_field.val(JSON.stringify(zims_idents));
	}

	function syncPackageField() {
		packages_field.val(JSON.stringify(apps_idents.concat(files_idents)));
	}

	function onRefresh() {
		registerPopovers();
		registerAddZim();
		registerRemoveZim();
	}

	function registerPopovers() {
		$('[data-toggle="popover"]').popover();
	}

	function getOrdering() {
		return $("#catalog_order").val();
	}

	function setOrdering(order) {
		// set the value so it's used in request
		$("#catalog_order").val(order);
		// update UI so we know which one is selected
		order = (order != "size") ? "name" : order;
		$("[data-ordering]").removeClass("selected");
		$("[data-ordering="+order+"]").addClass("selected");
		// refresh list
		reloadLangFilter();
	}

	function reloadLangFilter() {
		$('#lang_filter').change();
	}

	function removeRow(row) {
		row.find("td a i").popover('dispose');
		row.remove();
	}

	function registerAddZim() {
		$('.add-zim').on('click', function (e) {
			e.preventDefault();

			let ident = $(this).data('book-ident');

			// add book to datalist and refresh size
			if (zims_idents.indexOf(ident) == -1) {
				zims_idents.push(ident);
				refreshSize();

				// add row to table
				let selected_table = $('#selected_zims_list tbody');
				let catalog_row = $(document.getElementById('catalog-zim-row-' + ident));
				let selected_row = $('<tr id="selected-zim-row-'+ ident +'">');
				selected_row.html(catalog_row.html());
				selected_table.append(selected_row);
				// update UI inside row
				$(selected_row.find('.fa-plus-circle')).attr('class', 'fas fa-minus-circle primary');
				$(selected_row.find('.add-zim')).attr('class', 'remove-zim');

				// hide in catalog
				catalog_row.addClass("removed");
			}

			// refresh form field
			syncZimsField();

			// make sure new item can popover
			registerPopovers();

			registerRemoveZim();
		});
	}

	function registerRemoveZim() {
		$('.remove-zim').on('click', function (e) {
			e.preventDefault();

			let ident = $(this).data('book-ident');

			// remove package from datalist and refresh size
			if (zims_idents.indexOf(ident) != -1) {
				zims_idents.splice(zims_idents.indexOf(ident), 1);
				refreshSize();
			}

			// remove row from table
			removeRow($(document.getElementById('selected-zim-row-'+ ident)));

			// refresh form field
			syncZimsField();

			// refresh popovers
			registerPopovers();

			// restore row in catalog
			let catalog_row = $(document.getElementById('catalog-zim-row-' + ident));
			catalog_row.removeClass("removed");
		});
	}

	function registerAddPackage() {
		$('.add-app').on('click', function (e) {
			addPackage($(this).data('ident'), 'app');
		});

		$('.add-file').on('click', function (e) {
			addPackage($(this).data('ident'), 'file');
		});
	}

	function registerRemovePackage() {
		$('.remove-app').on('click', function (e) {
			removePackage($(this).data('ident'), 'app');
		});

		$('.remove-file').on('click', function (e) {
			removePackage($(this).data('ident'), 'file');
		});
	}

	function registerZIMChooser() {
		$('#lang_filter').on('change', function(e) {
			let lang_code = $(this).val() || "none";
			let books_list = $('#zims_list tbody');
			let order = $("#catalog_order").val();
			$.getJSON("/api/packages/lang_" + lang_code + "?order=" + order, function () {})
				.done(function (data) {
					books_list.empty();
					$.each(data.books, function(index, book) {
						// tags to badges
						let tags = $('<span>');
						if (getCategory(book)) {
							tags.append($('<span class="badge badge-pill badge-dark package-tag">' + getCategory(book) + '</span>'));
						}
						if (book.flavour) {
							tags.append($('<span class="badge badge-pill badge-light package-tag">' + book.flavour + '</span>'));
						}

						let row = $('<tr id="catalog-zim-row-'+ book.ident +'">');
						let main_td = '<a href="#" class="add-zim" data-book-ident="'+ book.ident +'"><i data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="'+ book.ident +'" class="fas fa-plus-circle primary"></i></a><a title="Voir en ligne" href="' + getDemoUrl(book) + '" target="_blank"><img src="' + getIllusUrl(book) + '" loading="lazy" /></a> <strong>' + book.title + '</strong> <p><em>' + book.description + '</em></p><p>' + tags.html() + '</p>';
						row.append($('<td>').html(main_td));
						row.append($('<td>').text(humanSize(book.size)));

						// if already selected, mark as removed in catalog
						if (zims_idents.indexOf(book.ident) != -1) {
							row.addClass("removed");
						}

						books_list.append(row);
					});

					// register actions
					onRefresh();

				})
				.fail(function (error) {
					console.error(error);
				});
		});
	}

	function onInit() {
		refreshSize();

		// register tab behavior
		$('#configMenuTabHolder a').on('click', function (e) {
		  e.preventDefault()
		  $(this).tab('show');
		});

		// register contents checkboxes
		$('.changes-size').on('change', function (e) {
			refreshSize();
		});

		// register ZIM chooser
		registerZIMChooser();

		// register changes in ordering
		$(".ordering").on("click", function (e) {
			setOrdering($(this).data("ordering"));
		});
		setOrdering("name");

		// register packages (apps and files)
		populatePackages();

		registerAddPackage();
		registerRemovePackage();

		// first refresh run
		onRefresh();
	}

	function refreshSize() {
		let free_space_template = "{% blocktrans %}__media_size__ <small>(__free_size__ free)</small>{% endblocktrans %}";
		let config = {
			edupi_resources: $('#' + edupi_resources_id).val(),
			zims: zims_idents,
			packages: apps_idents.concat(files_idents),
		};
		$.post("/api/get_size", JSON.stringify(config), function () {})
			.done(function (data) {
				$('#image_req_size').text(humanSize(data.size));

				if (data.media_size == null) {
					$('#sd_size_holder')[0].className = "danger";
					$('#sd_size').text("n/a");
					$('button[type=submit]').addClass("btn-danger");
				} else {
					$('#sd_size_holder')[0].className = "success";
					$('#sd_size').html(free_space_template.replace("__media_size__", data.media_size).replace("__free_size__", data.hfree));
					$('button[type=submit]').removeClass("btn-danger");
				}

			})
			.fail(function (error) {
				console.error(error);
			});
	}

	function addPackage(ident, kind) {
		if (kind == "app")
			source = apps_idents;
		else if (kind == "file")
			source = files_idents;
		else {
			console.error("unexpected kind", kind);
			return;
		}
		root = $(document.getElementById(kind + 's'));

		// add book to datalist and refresh size
		if (source.indexOf(ident) == -1) {
			source.push(ident);
			refreshSize();

			// add row to table
			let selected_table = root.find('table.selected tbody');

			let catalog_row = root.find('table.available tr[data-ident="' + ident + '"]');
			selected_row = $('<tr data-ident="' + ident + '" />');
			selected_row.html(catalog_row.html());
			selected_table.append(selected_row);

			// update UI inside row
			$(selected_row.find('.fa-plus-circle')).attr('class', 'fas fa-minus-circle primary');
			$(selected_row.find('.add-app')).attr('class', 'remove-app');
			$(selected_row.find('.add-file')).attr('class', 'remove-file');

			// hide in catalog
			catalog_row.addClass("removed");
		}

		// refresh form field
		syncPackageField();

		// make sure new item can popover
		registerPopovers();

		registerRemovePackage();
	}

	function removePackage(ident, kind) {

		if (kind == "app")
			source = apps_idents;
		else if (kind == "file")
			source = files_idents;
		else {
			console.error("unexpected kind", kind);
			return;
		}
		root = $(document.getElementById(kind + 's'));

		// remove package from datalist and refresh size
		if (source.indexOf(ident) != -1) {
			source.splice(source.indexOf(ident), 1);
			refreshSize();
		}

		// remove row from table
		removeRow(root.find('table.selected tr[data-ident="' + ident + '"]'));

		// refresh form field
		syncPackageField();

		// refresh popovers
		registerPopovers();

		// restore row in catalog
		let catalog_row = root.find('table.available tr[data-ident="' + ident + '"]');
		catalog_row.removeClass("removed");
	}

	function genRowForPackage(package, kind, action) {
		let actionIcon = (action == "add") ? "plus" : "minus";
		let tags = $('<span>');
		let row = $('<tr data-ident="'+ package.ident +'">');
		let main_td = '<a href="#" class="' + action + '-' + kind + '" data-ident="'+ package.ident +'"><i data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="'+ package.ident +'" class="fas fa-' + actionIcon + '-circle primary"></i></a><img src="' + package.icon_url + '" loading="lazy" /></a> <strong>' + package.title + '</strong> <p><em>' + package.description + '</em></p><p>' + tags.html() + '</p>';
		row.append($('<td>').html(main_td));
		row.append($('<td>').text(humanSize(package.size)));
		return row;
	}

	function populatePackages() {
		// initialize catalog first
		$.each(app_catalog, function(ident, package) {
			let kind = (package.kind == "files") ? "file" : package.kind;
			let catalog_list = $('#' + kind + 's table.available tbody');
			let row = genRowForPackage(package, kind, 'add');
			if (apps_idents.indexOf(ident) != -1 || files_idents.indexOf(ident) != -1) {
				row.addClass("removed");
			}
			catalog_list.append(row);
		});

		// APPS
		let selected_apps_list = $('#apps table.selected tbody');
		selected_apps_list.empty();
		$.each(apps_idents, function(index, ident) {
			selected_apps_list.append(genRowForPackage(app_catalog[ident], 'app', 'remove'));
		});

		// FILES
		let selected_files_list = $('#files table.selected tbody');
		selected_files_list.empty();
		$.each(files_idents, function(index, ident) {
			selected_files_list.append(genRowForPackage(app_catalog[ident], 'file', 'remove'));
		});
	}

	onInit();
{% endblock %}
