{% extends "base.html" %}
{% load i18n %}
{% load manager %}

{% block content %}
<h2>{% blocktrans %}Deleting your account{% endblocktrans %}</h2>
<p class="info">{% blocktrans %}Remove all your personnal info from our servers.{% endblocktrans %}</p>
<p>{% blocktrans %}We have no interest in keeping your personnal information indefinitely. If you are done with your Imager usage, you can request its deletion here. Please note that:{% endblocktrans %}</p>
<ul>
    <li>{% blocktrans with profile=user.profile %}You are currently connected with and will delete account <code>{{ profile }}</code>.{% endblocktrans %}</li>
    <li>{% blocktrans %}It is <strong>irreversible</strong>. Export your configurations manually if you want to keep them.{% endblocktrans %}</li>
    <li>{% blocktrans %}We'll keep a trace of your orders in an anonymized form, for accounting and statistics purpose.{% endblocktrans %}</li>
</ul>
<form method="POST" class="form-check form-check-inline">
{% csrf_token %}
<button class="btn btn-danger" data-toggle="confirmation" data-title="Delete {{ user.profile }} ?">{% blocktrans %}Delete my account permanently{% endblocktrans %}</button></div>
</div>
</form>
{% endblock %}

{% block javascript %}
	$('[data-toggle="popover"]').popover();
{% endblock %}
