{% extends "base.html" %}
{% load i18n %}
{% load manager %}
{% block css %}

{% endblock %}
{% block content %}
<h3>{% blocktrans %}Your Orders{% endblocktrans %}</h3>
<p class="subtext">{% blocktrans %}Requests for creation of an actual Hotspot Image{% endblocktrans %}<br />
{% blocktrans %}You can track the status of your orders here. Place a new order by clicking the {{ place_an_order_button }} button.{% endblocktrans %}</p>
<p> <a href="{% url 'order_new' %}" class="btn btn btn-primary float-right mb-3"><i class="fa-solid fa-sm fa-file-circle-plus"></i> {% blocktrans %}Place An Order{% endblocktrans %}</a></p>
{% if orders %}
<table class="table table-hover listing-table">
	<thead><tr>
		<th>{% sort_header request 'min_id' 'ID' sort_field sort_dir %}</th>
		<th>{% sort_header request 'config_name' 'Name' sort_field sort_dir %}</th>
		<th>{% sort_header request 'created_by' 'Created By' sort_field sort_dir %}</th>
		<th>{% sort_header request 'created_on' 'Created On' sort_field sort_dir %}</th>
		<th>{% blocktrans %}Status{% endblocktrans %}</th>
	</tr></thead>
	<tbody>
	{% for order in orders %}
	<tr><th><a href="{% url 'order_detail' order_min_id=order.min_id %}">{{ order.min_id }}</a></th>
		<td>{{ order.data.config_name }}</td>
		<td>{{ order.created_by.name }}</td>
		<td>{{ order.created_on|human_date }}</td>
		<td><span class="badge badge-pill {{ order.status|status_color }}">{{ order.verbose_status }}</span></td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% include "_paginator.html" with items_page=orders_page filter_name="only" filter_value=order_filter sort_field=sort_field sort_dir=sort_dir %}
{% else %}
<p class="info">{% blocktrans %}There's no <em>{{ order_filter }}</em> order yet. Place one !{% endblocktrans %}</p>
{% endif %}
{% endblock %}
{% block javascript %}
	$('[data-toggle="popover"]').popover();
{% endblock %}
