{% extends "base.html" %}
{% load manager %}

{% block content %}
<h2>{{ user.profile.organization }}'s Orders</h2>
<p class="info">Requests for creation of an actual Hotspot Image, either prepared for Download or physical sent by mail as a micro-SD card.</p>
<p><div class="btn-group" role="group" aria-label="Filter">
	<a class="btn btn-sm {% if order_filter == "in-progress" %} btn-secondary{% else %}btn-outline-secondary{% endif %}"  href="?only=in-progress">In Progress</a>
	<a class="btn btn-sm {% if order_filter == "canceled" %} btn-secondary{% else %}btn-outline-secondary{% endif %}" href="?only=canceled">Canceled</a>
	<a class="btn btn-sm {% if order_filter == "failed" %} btn-secondary{% else %}btn-outline-secondary{% endif %}" href="?only=failed">Failed</a>
	<a class="btn btn-sm {% if order_filter == "completed" %} btn-secondary{% else %}btn-outline-secondary{% endif %}" href="?only=completed">Completed</a>
</div><a href="{% url 'order_new' %}" class="btn btn-sm btn-primary float-right">Place An Order</a></p>

{% if orders %}
<table class="table table-striped">
	<thead><tr><th>ID</th><th>Name</th><th>Country</th><th>Created By</th><th>Created On</th><th>Status</th></tr></thead>
	<tbody>
	{% for order in orders %}
	<tr><th><a href="{% url 'order_detail' order_min_id=order.min_id %}">{{ order.min_id }}</a></th>
		<td>{{ order.data.config_name }}</td>
		<td>{{ order.data.recipient.country|country|default_if_none:"-" }}</td>
		<td>{{ order.created_by.name }}</td>
		<td>{{ order.created_on }}</td>
		<td class="{{ order.status|status_color }}">{{ order.verbose_status }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% include "_paginator.html" with items_page=orders_page filter_name="only" filter_value=order_filter %}
{% else %}
<p class="info">There's no <em>{{ order_filter }}</em> order yet. Place one !</p>
{% endif %}
{% endblock %}

{% block javascript %}
	$('[data-toggle="popover"]').popover();
{% endblock %}
