{% extends "base.html" %}
{% load manager %}

{% block content %}
<h2>{{ user.profile.organization }}'s Orders</h2>
{% if orders %}
<table class="table table-striped">
	<thead><tr><th>ID</th><th>Name</th><th>Country</th><th>Created On</th><th>Status</th></tr></thead>
	<tbody>
	{% for order in orders %}
	<tr><th><a href="{% url 'order_detail' order_min_id=order.min_id %}">{{ order.min_id }}</a></th>
		<td>{{ order.data.config_name }}</td>
		<td>{{ order.data.recipient.country|country }}</td>
		<td>{{ order.created_on }}</td>
		<td>{{ order.verbose_status }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% else %}
<p class="info">There's  no order yet. Place one !</p>
{% endif %}
<form method="POST" class="form-check form-check-inline">
	{% csrf_token %}
	<input type="hidden" name="form" value="order_form">
	<div class="form-row visual-group">
		<div class="form-group col-md-4">{% include "_label_for.html" with field=order_form.config %}{{ order_form.config|as_widget }}</div>
		<div class="form-group col-md-2">{% include "_label_for.html" with field=order_form.media %}{{ order_form.media|as_widget }}</div>
		<div class="form-group col-md-1">{% include "_label_for.html" with field=order_form.quantity %}{{ order_form.quantity|as_widget }}</div>
		<div class="form-group col-md-4">{% include "_label_for.html" with field=order_form.address %}{{ order_form.address|as_widget }}</div>
		<div class="form-group col-md-1"><label>-</label><button class="btn btn-primary form-check-input form-control">Order</button></div>
	</div>
</form>

<hr />

<h3>Addresses</h3>
<p class="info">Addresses are where your orders would be sent to.</p>
{% if addresses %}
<table class="table table-striped">
	<thead><tr><th>Name</th><th>Recipient</th><th>Address</th><th>Country</th><th>Delete</th></tr></thead>
	<tbody>
	{% for address in addresses %}
	<tr><th>{{ address.name }}</th>
		<td><strong>{{ address.recipient }}</strong><br />{{ address.human_phone }}{% if address.email %}<br /><a href="mailto:{{ address.email }}">{{ address.email }}</a>{% endif %}</td>
		<td>{{ address.address|linebreaks }}</td>
		<td>{{ address.verbose_country }}</td>
		<td><a href="{% url 'delete_address' address.id %}" class="btn btn-sm btn-warning" data-toggle="confirmation" data-title="Delete this address?">Delete</a></td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% else %}
<p class="info">You don't have any. Add one so you can place orders.</p>
{% endif %}
<form method="POST" class="form-check form-check-inline">
	{% csrf_token %}
	<input type="hidden" name="form" value="address_form">
	<div class="form-row visual-group">
		<div class="form-group col-md-2">{% include "_label_for.html" with field=address_form.name %}{{ address_form.name|as_widget }}</div>
		<div class="form-group col-md-3">{% include "_label_for.html" with field=address_form.recipient %}{{ address_form.recipient|as_widget }}</div>
		<div class="form-group col-md-4">{% include "_label_for.html" with field=address_form.email %}{{ address_form.email|as_widget }}</div>
		<div class="form-group col-md-3">{% include "_label_for.html" with field=address_form.phone %}{{ address_form.phone|as_widget }}</div>
		<div class="form-group col-md-6">{% include "_label_for.html" with field=address_form.address %}{{ address_form.address|as_widget }}</div>
		<div class="form-group col-md-2">{% include "_label_for.html" with field=address_form.country %}{{ address_form.country|as_widget }}</div>
		<div class="form-group col-md-2"><label>-</label><button class="btn btn-primary form-check-input form-control">Create Address</button></div>
	</div>
</form>

{% endblock %}

{% block javascript %}
	$('[data-toggle="popover"]').popover();

	config_media_matrix = {
		{% for config in configurations %}
		"{{ config.id }}": [{% for media in config.compatible_medias %}"{{ media.id }}", {% endfor %}],
		{% endfor %}
	}

	let config_select = $("#{{ order_form.config.id_for_label }}");
	let media_select = $("#{{ order_form.media.id_for_label }}");
	config_select.on("change", function (e) {
		cm = config_media_matrix[$(this).val()];
		var selected = false;
		media_select.find("option").each(function (index, optionel) {
			let option = $(optionel);
			if (cm.indexOf(option.val()) != -1) {
				option.removeAttr("disabled");
				if (!selected) {
					selected = option.val();
				}
			} else {
				option.attr("disabled", "disabled");
			}
			media_select.val(selected);
		});
	});

	config_select.change();
{% endblock %}
