{% extends "base.html" %}
{% load i18n %}
{% load manager %}

{% block content %}
<h2>{% blocktrans %}Confirm Order{% endblocktrans %}</h2>

<form method="POST" id="order_form">
{% csrf_token %}
<div class="form-row visual-group">
	<div class="col-md-2"></div>
	<div class="col-md-6"></div>
		<table class="table table-striped">
			<tbody>
			<tr><th>{% blocktrans context "Order confirmation Summary" %}Configuration{% endblocktrans %}</th><td><a href="{% url 'configuration_edit' config_id=config.id %}">{{ config.name }}</a></td></tr>
			<tr><th>{% blocktrans context "Order confirmation Summary" %}Hotspot WiFi SSID{% endblocktrans %}</th><td>{{ config.ssid }}{% if config.wifi_password %} – <i class="fas fa-key fa-xs"></i> <code>{{ config.wifi_password }}</code>{% endif %}</td></tr>
			<tr><th>{% blocktrans context "Order confirmation Summary" %}Image Size{% endblocktrans %}</th><td>{{ config.size|human_size:True }} – <i class="fas fa-sd-card" style="color: #FF9933;"></i> {{ config.min_media.size }}GB+</td></tr>
			<tr><th>{% blocktrans context "Order confirmation Summary" %}Send Download Link to{% endblocktrans %}</th><td>{{ request.user.profile.name }} <code>{{ request.user.profile.email }}</code></td></tr>
			<tr><th>{% blocktrans context "Order confirmation Summary" %}Apps{% endblocktrans %}</th><td>
				<ul>{% for file in config.content_packages|files_from_json %}<li><span data-toggle="popover" data-placement="top" data-trigger="hover" data-content="{{ file.ident }}">{{ file.title }}</span></li>{% empty %}–{% endfor %}</ul>
			</td></tr>
			<tr><th>{% blocktrans context "Order confirmation Summary" %}Content{% endblocktrans %}</th><td>
				<ul>{% for book in config.content_zims|books_from_json %}<li><span data-toggle="popover" data-placement="top" data-trigger="hover" data-content="{{ book.ident }}">{{ book.title }}</span></li>{% empty %}–{% endfor %}</ul>
			</td></tr>
			<tr><th>{% blocktrans context "Order confirmation Summary" %}Learning Tools{% endblocktrans %}</th><td>
				<ul>{% for app in config.content_packages|apps_from_json %}<li><span data-toggle="popover" data-placement="top" data-trigger="hover" data-content="{{ app.ident }}">{{ app.title }}</span></li>{% empty %}–{% endfor %}</ul>
			</td></tr>
			{% if config.has_any_beta %}
			<tr><th>{% blocktrans context "Order confirmation Summary" %}Beta Features{% endblocktrans %} <i class="fa fa-xs fa-bug"></i></th><td>
				<ul>{% for feature in config.beta_features %}<li><code>{{ feature }}</code></li>{% empty %}–{% endfor %}</ul>
			</td></tr>
			{% endif %}
		</table>
		</tbody>
	<div class="col-md-2"></div>
</div>
<div class="form-row visual-group">
	<div class="col-md-3"></div>
	<div class="col-md-3"><a href="{% url 'configuration_edit' config_id=config.id %}"><button form="none" class="btn btn-secondary btn-sm form-control">I forgot something!</button></a></div>
	<div class="col-md-3"><button form="order_form" class="btn btn-primary btn-sm form-control">Yes, let's go!</button></div>
	<div class="col-md-3"></div>
</div>
</form>
{% endblock %}

{% block javascript %}
$('[data-toggle="popover"]').popover();
{% endblock %}

