{% extends "base.html" %}
{% load manager %}

{% block content %}
<h2>{{ user.profile.organization }}'s Orders</h2>
{% if orders %}
<table class="table table-striped">
	<thead><tr><th>Name</th><th>Recipient</th><th>Address</th><th>Country</th><th>Delete</th></tr></thead>
	<tbody>
	{% for address in addresses %}
	<tr><th>{{ address.name }}</th>
		<td><strong>{{ address.recipient }}</strong><br />{{ address.human_phone }}{% if address.email %}<br /><a href="mailto:{{ address.email }}">{{ address.email }}</a>{% endif %}</td>
		<td>{{ address.address|linebreaks }}</td>
		<td>{{ address.verbose_country }}</td>
		<td><button class="btn btn-warning btn-sm">Delete</button></td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% else %}
<p class="info">There's  no order yet. Place one !</p>
{% endif %}
<form method="POST" class="form-check form-check-inline">
	{% csrf_token %}
	<input type="hidden" name="form" value="order_form">
	<div class="form-row visual-group">
		<div class="form-group col-md-4">{% include "_label_for.html" with field=order_form.config %}{{ order_form.config|as_widget }}</div>
		<div class="form-group col-md-2">{% include "_label_for.html" with field=order_form.media %}{{ order_form.media|as_widget }}</div>
		<div class="form-group col-md-1">{% include "_label_for.html" with field=order_form.quantity %}{{ order_form.quantity|as_widget }}</div>
		<div class="form-group col-md-4">{% include "_label_for.html" with field=order_form.address %}{{ order_form.address|as_widget }}</div>
		<div class="form-group col-md-1"><label>-</label><button class="btn btn-primary form-check-input form-control">Order</button></div>
	</div>
</form>

<hr />

<h3>Addresses</h3>
<p class="info">Addresses are where your orders would be sent to.</p>
{% if addresses %}
<table class="table table-striped">
	<thead><tr><th>Name</th><th>Recipient</th><th>Address</th><th>Country</th><th>Delete</th></tr></thead>
	<tbody>
	{% for address in addresses %}
	<tr><th>{{ address.name }}</th>
		<td><strong>{{ address.recipient }}</strong><br />{{ address.human_phone }}{% if address.email %}<br /><a href="mailto:{{ address.email }}">{{ address.email }}</a>{% endif %}</td>
		<td>{{ address.address|linebreaks }}</td>
		<td>{{ address.verbose_country }}</td>
		<td><a href="{% url 'delete_address' address.id %}" class="btn btn-sm btn-warning" data-toggle="confirmation" data-title="Delete this address?">Delete</a></td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% else %}
<p class="info">You don't have any. Add one so you can place orders.</p>
{% endif %}
<form method="POST" class="form-check form-check-inline">
	{% csrf_token %}
	<input type="hidden" name="form" value="address_form">
	<div class="form-row visual-group">
		<div class="form-group col-md-2">{% include "_label_for.html" with field=address_form.name %}{{ address_form.name|as_widget }}</div>
		<div class="form-group col-md-3">{% include "_label_for.html" with field=address_form.recipient %}{{ address_form.recipient|as_widget }}</div>
		<div class="form-group col-md-4">{% include "_label_for.html" with field=address_form.email %}{{ address_form.email|as_widget }}</div>
		<div class="form-group col-md-3">{% include "_label_for.html" with field=address_form.phone %}{{ address_form.phone|as_widget }}</div>
		<div class="form-group col-md-6">{% include "_label_for.html" with field=address_form.address %}{{ address_form.address|as_widget }}</div>
		<div class="form-group col-md-2">{% include "_label_for.html" with field=address_form.country %}{{ address_form.country|as_widget }}</div>
		<div class="form-group col-md-2"><label>-</label><button class="btn btn-primary form-check-input form-control">Create Address</button></div>
	</div>
</form>
{% endblock %}

{% block javascript %}
	$('[data-toggle="popover"]').popover();
	
	let medias_choices_url = "{% url "api_medias_choices" 0 %}";
	let media_select = $("#{{ order_form.media.id_for_label }}");
	let config_select = $("#{{ order_form.config.id_for_label }}");
	
	config_select.on("change", function (e) {
		let url = medias_choices_url.replace("/0", "/" + $(this).val());
		console.log(url);
		$.getJSON(url, function () {})
			.done(function (data) {
				console.log(data);
				media_select.empty();
				$.each(data, function (key, item) {
					media_select.append('<option value="'+ item[0] +'">'+ item[1] +'</option>');
				});
			})
			.fail(function (error) {
				console.log(error);
			});
	});
	config_select.change();
{% endblock %}
