{% load manager %}
<table class="table table-striped">
	<tr><th>Config</th><td>{{ orderdata.config.name }}</td>
					   <td colspan="2"><button class="btn btn-sm btn-secondary toggle">Toggle config display</button><br />
					   <span class="pretty-config hidden"><code><pre>{{ orderdata.pretty_config }}</pre></code></span></td></tr>
	<tr><th>SD-card</th><td><strong>{{ orderdata.sd_card.name }}</strong></td><td colspan="2">{{ orderdata.sd_card.size }}GB</td></tr>
	<tr><th>Quantity</th><td>{{ orderdata.quantity }}</td><td colspan="2">{{ orderdata.units }}U</td></tr>
	<tr><th>Channel</th><td>{{ orderdata.channel }}</td><th>Warehouse</th><td>{{ orderdata.warehouse.slug }}</td></tr>
	<tr><th>Client</th><td>{{ orderdata.client.name }}</td><td colspan="2"><a href="mailto:{{ orderdata.client.email }}">{{ orderdata.client.email }}</a></td></tr>
	<tr><th>Recipient</th><td>{{ orderdata.recipient.name }}</td><td><a href="mailto:{{ orderdata.recipient.email }}">{{ orderdata.recipient.email }}</a></td><td><a href="tel:{{ orderdata.recipient.phone }}">{{ orderdata.recipient.phone }}</a></td></tr>
	<tr><th>Recipient Address</th><td colspan="2">{{ orderdata.recipient.address|linebreaksbr }}</td><td>{{ orderdata.recipient.country|country }}</td></tr>
	{% if orderdata.statuses|length %}
	<tr><th rowspan="{{ orderdata.statuses|length|plus_one }}">Scheduler Statuses</th></tr>
		{% for status in orderdata.statuses|clean_statuses %}
		<tr><td>{% if forloop.first %}<strong>{{ status.status }}</strong>{% else %}{{ status.status }}{% endif %}</td>
			<td>{{ status.on }}</td>
			<td>{{ status.payload|default_if_none:"" }}</td>
		</tr>
		{% endfor %}
	{% endif %}
	<tr><th>Image Creation Task</th><td colspan="3">{{ orderdata.tasks.create|id }}</td></tr>
	{% if orderdata.tasks.create.statuses|length %}
	<tr><th rowspan="{{ orderdata.tasks.create.statuses|length|plus_one }}">Creation Status</th></tr>
		{% for status in orderdata.tasks.create.statuses|clean_statuses %}
		<tr>
			<td>{% if forloop.first %}<strong>{{ status.status }}</strong>{% else %}{{ status.status }}{% endif %}</td>
			<td>{{ status.on }}</td>
			<td>{{ status.payload|default_if_none:""|urlize }}</td>
		</tr>
		{% endfor %}
	{% endif %}
	<tr><th>Creation Logs</th>
		<td><a target="_blank" href="{% url "order_log" step="create" order_id=orderdata|id kind="worker" %}">worker.txt</a></td>
		<td><a target="_blank" href="{% url "order_log_html" step="create" order_id=orderdata|id kind="installer" %}">installer.html</a></td>
		<td><a target="_blank" href="{% url "order_log" step="create" order_id=orderdata|id kind="uploader" %}">uploader.txt</a></td>
	</tr>

	<tr><th>Image Download Task</th><td colspan="3">{{ orderdata.tasks.download|id }}</td></tr>
	{% if orderdata.tasks.download.statuses|length %}
	<tr><th rowspan="{{ orderdata.tasks.download.statuses|length|plus_one }}">Download Status</th></tr>
		{% for status in orderdata.tasks.download.statuses|clean_statuses %}
		<tr>
			<td>{% if forloop.first %}<strong>{{ status.status }}</strong>{% else %}{{ status.status }}{% endif %}</td>
			<td>{{ status.on }}</td>
			<td>{{ status.payload|default_if_none:""|urlize }}</td>
		</tr>
		{% endfor %}
	{% endif %}
	<tr><th>Image Download Log</th>
		<td><a target="_blank" href="{% url "order_log" step="download" order_id=orderdata|id kind="worker" %}">worker.txt</a></td>
		<td colspan="2"><a target="_blank" href="{% url "order_log_html" step="download" order_id=orderdata|id kind="downloader" %}">downloader.html</a></td>
	</tr>

	{% for task in orderdata.tasks.write %}
	<tr><th>Image Writing Task #{{ forloop.counter }}</th><td colspan="3">{{ task|id }}</td></tr>
	{% if task.statuses|length %}
	<tr><th rowspan="{{ task.statuses|length|plus_one }}">Writing Status</th></tr>
	{% for status in task.statuses|clean_statuses %}
		<tr>
		<td>{% if forloop.first %}<strong>{{ status.status }}</strong>{% else %}{{ status.status }}{% endif %}</td>
		<td>{{ status.on }}</td>
		<td>{{ status.payload|default_if_none:""|urlize }}</td>
		</tr>
	{% endfor %}
	
	{% endif %}
	<tr><th>Writing Log</th>
		<td><a target="_blank" href="{% url "order_log" step="write" order_id=orderdata|id kind="worker" %}">worker.txt</a></td>
	</tr>
	{% endfor %}

	<tr><th>Shipment</th><td colspan="3">{{ orderdata.shipment|default:"n/a" }}</td></tr>
</table>
