{% load i18n %}
<html>
<body>
<h2>{% blocktrans %}Password reset request{% endblocktrans %}</h2>
<p>{% blocktrans with name=prc.profile.name %}Hello {{ name }}, we've received a password reset request for your account.{% endblocktrans %}</p>
<p>{% blocktrans %}If you did not initiate this request, please discard this message.{% endblocktrans %}</p>
<p>{% blocktrans %}Otherwise, please confirm the request <em>within 24 hours</em> and set a new password by following the link below:{% endblocktrans %}</p>
<p><a href="{{ CARDSHOP_PUBLIC_URL }}/reset-password/confirm?code={{ prc.code }}"
    style="color: #fff; background-color: #007bff; border-color: #007bff; font-weight: 400; text-align: center; border: 1px solid transparent; padding: .55rem .75rem; font-size: 1.2rem; line-height: 1.5; border-radius: .25rem; cursor: pointer; font-family: sans-serif; text-decoration: none; white-space: nowrap; vertical-align: middle; display: inline-block;">{% blocktrans %}Confirm password reset request{% endblocktrans %}</a>.</p>
<dl>
    <dt>{% blocktrans %}Username{% endblocktrans %}</dt>
    <dd><code>{{ prc.profile.username }}</code></dd>
    <dt>{% blocktrans %}Confirmation code{% endblocktrans %}</dt>
    <dd><code>{{ prc.code }}</code></dd>
</dl>
<hr style="border: 0; height: 1px; background: #ccc;" />
<p style="color:#ccc;"><em>{% blocktrans %}The Kiwix Hotspot Cardshop Team.{% endblocktrans %}</em></p>
</body>
</html>
