<html>
<body>
<h2>Password reset request</h2>
<p>Hello {{ prc.profile.name }}, we've received a password reset request for your account.</p>
<p>If you did not initiate this request, please discard this message.</p>
<p>Otherwise, please confirm the request <em>within 24 hours</em> and set a new password by following the link below:</p>
<p><a href="{{ CARDSHOP_PUBLIC_URL }}/reset-password/confirm?code={{ prc.code }}"
    style="color: #fff; background-color: #007bff; border-color: #007bff; font-weight: 400; text-align: center; border: 1px solid transparent; padding: .55rem .75rem; font-size: 1.2rem; line-height: 1.5; border-radius: .25rem; cursor: pointer; font-family: sans-serif; text-decoration: none; white-space: nowrap; vertical-align: middle; display: inline-block;">Confirm password reset request</a>.</p>
<dl>
    <dt>Username</dt>
    <dd><code>{{ prc.profile.username }}</code></dd>
    <dt>Confirmation code</dt>
    <dd><code>{{ prc.code }}</code></dd>
</dl>
<hr style="border: 0; height: 1px; background: #ccc;" />
<p style="color:#ccc;"><em>The Kiwix Hotspot Cardshop Team.</em></p>
</body>
</html>
