{% extends "base.html" %}
{% load i18n %}
{% load manager %}

{% block content %}
<h2>{% blocktrans %}Changing your password{% endblocktrans %}</h2>
<p class="info">{% blocktrans %}Your password, as your account, is personnal. Change your password to protect it.{% endblocktrans %}</p>
<form method="POST" class="form-check">
{% csrf_token %}
<div class="form-row visual-group">
	<div class="form-group col-md-3">{% include "_label_for.html" with field=password_form.old_password %}{{ password_form.old_password|as_widget }}</div>
	<div class="form-group col-md-3">{% include "_label_for.html" with field=password_form.new_password1 %}{{ password_form.new_password1|as_widget }}</div>
	<div class="form-group col-md-4">{% include "_label_for.html" with field=password_form.new_password2 %}{{ password_form.new_password2|as_widget }}</div>
	<div class="form-group col-md-2"><label>-</label><button class="btn btn-primary form-control">{% blocktrans %}Update{% endblocktrans %}</button></div>
</div>
</form>
{% endblock %}

{% block javascript %}
	$('[data-toggle="popover"]').popover();
{% endblock %}
