{% extends "base.html" %}

{% block css %}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  /* margin-bottom: 10px; */
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
p.email-errors {
  border-radius: 0;
  margin: 0;
  padding: .5em;
  font-size: .8em;
}
.form-signin button[type="submit"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
{% endblock %}

{% block content %}

<form method="post" action="{% url 'reset_password' %}" id="login-form" class="form-signin">
{% csrf_token %}
<h1 class="h3 mb-3 font-weight-normal">Reset your password</h1>
<label for="{{ form.email.id_for_label }}" class="sr-only">{{ form.email.label }}</label>
<input  type="email"
        class="form-control"
        value="{{ form.email.value|default_if_none:"" }}"
        placeholder="{{ form.email.label }}"
        name="{{ form.email.html_name }}"
        id="{{ form.email.id_for_label }}"
        required autofocus>
{% if form.email.errors %}<p class="alert alert-danger email-errors"><strong>Error:</strong> {% for error in form.email.errors %}{{ error }} {% endfor %}</p>{% endif %}
<button class="btn btn-lg btn-primary btn-block" type="submit">Request password reset</button>
</form>
{% endblock %}
