{% extends "base.html" %}
{% load i18n %}
{% load manager %}

{% block content %}
<p><a href="{% url "scheduler-refresh" %}" class="btn btn-sm btn-info float-right">{% blocktrans %}refresh token{% endblocktrans %}</a></p>

<h3>{% blocktrans %}Workers (read-only){% endblocktrans %}</h3>
<p class="info">{% blocktrans %}All workers which connected at least once, displaying their last update.{% endblocktrans %}</p>
{% if workers %}
<table class="table table-bordered table-striped">
	<tr>
		<th>{% blocktrans %}Username{% endblocktrans %}</th>
		<th>{% blocktrans %}Type{% endblocktrans %}</th>
		<th>{% blocktrans %}Slot{% endblocktrans %}</th>
		<th>{% blocktrans %}Status{% endblocktrans %}</th>
		<th>{% blocktrans %}On{% endblocktrans %}</th>
		<th>{% blocktrans %}Payload{% endblocktrans %}</th>
	</tr>
	{% for worker in workers %}
	<tr>
		<th><code>{{worker.username }}</code></th>
		<td>{{ worker.worker_type }}</td>
		<td>{{ worker.slot }}</td>
		<td>{{ worker.status }}</td>
		<td>{{ worker.on|datetime }}</a></td>
		<td>{{ worker.payload|default_if_none:"" }}</a></td>
	</tr>
	{% endfor %}
</table>
{% elif workers is None %}
{% blocktrans asvar no_worker_msg %}Could not retrieve workers list…{% endblocktrans %}
{% include "error.html" with level="warning" message=no_worker_msg %}
{% else %}
<p class="info">{% blocktrans %}hum, there's no existing worker…{% endblocktrans %}</p>
{% endif %}

<h3>{% blocktrans %}Channels{% endblocktrans %}</h3>
<p class="info">{% blocktrans %}Channels ensures organization-specific workers gets to produce their own cards.{% endblocktrans %}</p>

{% if channels %}
<table class="table table-bordered table-striped">
	<tr>
		<th>{% blocktrans %}Slug{% endblocktrans %}</th>
		<th>{% blocktrans %}Name{% endblocktrans %}</th>
		<th>{% blocktrans %}Active{% endblocktrans %}</th>
		<th>{% blocktrans %}Private{% endblocktrans %}</th>
		<th>{% blocktrans %}Sender{% endblocktrans %}</th>
	</tr>
	{% for channel in channels %}
	<tr>
		<th><code>{{channel.slug }}</code></th>
		<td>{{ channel.name }}</td>
		<td><a class="btn btn-sm btn-warning" href="{% if channel.active %}{% url "scheduler_disable_channel" channel.id %}{% else %}{% url "scheduler_enable_channel" channel.id %}{% endif %}">{{ channel.active|yesno }}: {% if channel.active %}{% blocktrans %}disable{% endblocktrans %}{% else %}{% blocktrans %}enable{% endblocktrans %}{% endif %}</a></td>
		<td>{{ channel.private|yesno }}</td>
		<td><strong>{{ channel.sender_name }}</strong><br />
			{{ channel.sender_address|linebreaksbr }}<br /><a href="mailto:{{ channel.sender_email }}">{{ channel.sender_email }}</a></td>
	</tr>
	{% endfor %}
</table>
{% elif channels is None %}
{% blocktrans asvar no_channel_msg %}Could not retrieve channels list…{% endblocktrans %}
{% include "error.html" with level="warning" message=no_channel_msg %}
{% else %}
<p class="info">{% blocktrans %}hum, there's no existing channel…{% endblocktrans %}</p>
{% endif %}
<form method="POST" class="form-check form-check-inline">
	{% csrf_token %}
	<input type="hidden" name="form" value="channel_form">
	<div class="form-row visual-group">
		<div class="form-group col-md-4">{% include "_label_for.html" with field=channel_form.slug %}{{ channel_form.slug|as_widget }}</div>
		<div class="form-group col-md-4">{% include "_label_for.html" with field=channel_form.name %}{{ channel_form.name|as_widget }}</div>
		<div class="form-group col-md-1">{% include "_label_for.html" with field=channel_form.active %}{{ channel_form.active|as_widget }}</div>
		<div class="form-group col-md-1">{% include "_label_for.html" with field=channel_form.private %}{{ channel_form.private|as_widget }}</div>
		<div class="form-group col-md-3">{% include "_label_for.html" with field=channel_form.sender_name %}{{ channel_form.sender_name|as_widget }}</div>
		<div class="form-group col-md-3">{% include "_label_for.html" with field=channel_form.sender_email %}{{ channel_form.sender_email|as_widget }}</div>
		<div class="form-group col-md-4">{% include "_label_for.html" with field=channel_form.sender_address %}{{ channel_form.sender_address|as_widget }}</div>
		<div class="form-group col-md-2"><label>-</label><button class="btn btn-primary form-check-input form-control">{% blocktrans %}Add{% endblocktrans %}</button></div>
	</div>
</form>

<h3>{% blocktrans %}Warehouses{% endblocktrans %}</h3>
<p class="info">{% blocktrans %}Warehouses are where created images are stored and retrieved from during the process.{% endblocktrans %}</p>

{% if warehouses %}
<table class="table table-bordered table-striped">
	<tr>
		<th>{% blocktrans %}Slug{% endblocktrans %}</th>
		<th>{% blocktrans %}Upload URI{% endblocktrans %}</th>
		<th>{% blocktrans %}Download URI{% endblocktrans %}</th>
		<th>{% blocktrans %}Active{% endblocktrans %}</th>
	</tr>
	{% for warehouse in warehouses %}
	<tr>
		<th><code>{{warehouse.slug }}</code></th>
		<td>{{ warehouse.upload_uri }}</td>
		<td>{{ warehouse.download_uri }}</td>
		<td><a class="btn btn-sm btn-warning" href="{% if warehouse.active %}{% url "scheduler_disable_warehouse" warehouse.id %}{% else %}{% url "scheduler_enable_warehouse" warehouse.id %}{% endif %}">{{ warehouse.active|yesno }}: {% if warehouse.active %}{% blocktrans %}disable{% endblocktrans %}{% else %}{% blocktrans %}enable{% endblocktrans %}{% endif %}</a>
		</td>
		</tr>
	{% endfor %}
</table>
{% elif warehouses is None %}
{% blocktrans asvar no_wh_msg %}Could not retrieve warehouses list…{% endblocktrans %}
{% include "error.html" with level="warning" message=no_wh_msg %}
{% else %}
<p class="info">{% blocktrans %}hum, there's no existing warehouse…{% endblocktrans %}</p>
{% endif %}
<form method="POST" class="form-check form-check-inline">
	{% csrf_token %}
	<input type="hidden" name="form" value="warehouse_form">
	<div class="form-row visual-group">
		<div class="form-group col-md-3">{% include "_label_for.html" with field=warehouse_form.slug %}{{ warehouse_form.slug|as_widget }}</div>
		<div class="form-group col-md-3">{% include "_label_for.html" with field=warehouse_form.upload_uri %}{{ warehouse_form.upload_uri|as_widget }}</div>
		<div class="form-group col-md-3">{% include "_label_for.html" with field=warehouse_form.download_uri %}{{ warehouse_form.download_uri|as_widget }}</div>
		<div class="form-group col-md-1">{% include "_label_for.html" with field=warehouse_form.active %}{{ warehouse_form.active|as_widget }}</div>
		<div class="form-group col-md-2"><label>-</label><button class="btn btn-primary form-check-input form-control">{% blocktrans %}Add Warehouse{% endblocktrans %}</button></div>
	</div>
</form>


<h3>{% blocktrans %}Users{% endblocktrans %}</h3>
<p class="info">{% blocktrans %}Scheduler Users are not manager users but API consumers.{% endblocktrans %}</p>
{% if users %}
<table class="table table-bordered table-striped">
	<tr>
		<th>{% blocktrans %}Username{% endblocktrans %}</th>
		<th>{% blocktrans %}Role{% endblocktrans %}</th>
		<th>{% blocktrans %}Channel{% endblocktrans %}</th>
		<th>{% blocktrans %}Email{% endblocktrans %}</th>
		<th>{% blocktrans %}Active{% endblocktrans %}</th>
	</tr>
	{% for user in users %}
	<tr>
		<th><code>{{user.username }}</code></th>
		<td>{{ user.role }}</td>
		<td>{{ user.channel }}</td>
		<td>{{ user.email }}</td>
		<td><a class="btn btn-sm btn-warning" href="{% if user.active %}{% url "scheduler_disable_user" user.id %}{% else %}{% url "scheduler_enable_user" user.id %}{% endif %}">{{ user.active|yesno }}: {% if user.active %}{% blocktrans %}disable{% endblocktrans %}{% else %}{% blocktrans %}enable{% endblocktrans %}{% endif %}</a></td>
	</tr>
	{% endfor %}
</table>
{% elif users is None %}
{% blocktrans asvar no_user_msg %}Could not retrieve users list…{% endblocktrans %}
{% include "error.html" with level="warning" message=no_user_msg %}
{% else %}
<p class="info">{% blocktrans %}hum, there's no existing user…{% endblocktrans %}</p>
{% endif %}
<form method="POST" class="form-check form-check-inline">
	{% csrf_token %}
	<input type="hidden" name="form" value="user_form">
	<div class="form-row visual-group">
		<div class="form-group col-md-2">{% include "_label_for.html" with field=user_form.role %}{{ user_form.role|as_widget }}</div>
		<div class="form-group col-md-2">{% include "_label_for.html" with field=user_form.username %}{{ user_form.username|as_widget }}</div>
		<div class="form-group col-md-2">{% include "_label_for.html" with field=user_form.channel %}{{ user_form.channel|as_widget }}</div>
		<div class="form-group col-md-2">{% include "_label_for.html" with field=user_form.email %}{{ user_form.email|as_widget }}</div>
		<div class="form-group col-md-2">{% include "_label_for.html" with field=user_form.password %}{{ user_form.password|as_widget }}</div>
		<div class="form-group col-md-2"><label>-</label><button class="btn btn-primary form-check-input form-control">{% blocktrans %}Add User{% endblocktrans %}</button></div>
	</div>
</form>

<h3>{% blocktrans %}Auto Images{% endblocktrans %}</h3>
<p class="info">{% blocktrans %}Auto Images are now manually triggered{% endblocktrans %}</p>
{% if images %}
<form id="bulk-autoimages" class="form-check form-check-inline" action="{% url 'scheduler_bulk_recreate_images' %}" method="POST">{% csrf_token %}<button class="btn btn-primary form-check-input form-control">{% blocktrans %}Re-create all images{% endblocktrans %}</button></form>
<table class="table table-bordered table-striped">
	<tr>
		<th>{% blocktrans %}ID{% endblocktrans %}</th>
		<th>{% blocktrans %}Email{% endblocktrans %}</th>
		<th>{% blocktrans %}Status{% endblocktrans %}</th>
		<th>{% blocktrans %}Expire On{% endblocktrans %}</th>
		<th>{% blocktrans %}Private{% endblocktrans %}</th>
		<th>{% blocktrans %}URL{% endblocktrans %}</th>
		<th>{% blocktrans %}Config & Order{% endblocktrans %}</th>
		<th>{% blocktrans %}Delete{% endblocktrans %}</th>
	</tr>
	{% for image in images %}
	<tr>
		<td><code>{{image.slug }}</code><br />{{ image.config.size }}GB{% if image.woo_id %}<br />Product ID: <code>{{image.woo_id}}</code>{% endif %}</td>
		<td>{{ image.contact_email }}</td>
		<td>{{ image.status }}</td>
		<td>{{ image.expire_on|default:"Never" }}</td>
		<td>{{ image.private|yesno }}</td>
		<td>{% if image.http_url %}
			<ul>
			<li><a href="{{ image.http_url }}" target="_blank">HTTP</a></li>
			{% if image.torrent_url %}<li><a href="{{ image.torrent_url }}" target="_blank">{% blocktrans %}torrent{% endblocktrans %}</a></li>{% endif %}
			<li><a href="{{ api_url }}/auto-images/{{ image.slug }}/json" target="_blank">{% blocktrans %}JSON{% endblocktrans %}</a></li>
			{% if not image.private %}<li><a href="{{ api_url }}/auto-images/{{ image.slug }}/redirect/http" target="_blank">{% blocktrans %}redirect{% endblocktrans %}</a></li>{% endif %}
			</ul>
			{% else %}{% blocktrans %}n/a{% endblocktrans %}{% endif %}</td>
		<td><a href="{% url 'configuration_edit' config_id=image.config.id %}" target="_blank">{{ image.config.id|config_name }}</a><br /><br />{% if image.order %}<a href="{% url "all-orders-detail" order_id=image.order %}">{{ image.order|short_id }}</a>{% else %}{% blocktrans %}n/a{% endblocktrans %}{% endif %}</td>
		<td><a data-toggle="confirmation" data-title="Delete {{ image.slug }} ?" class="btn btn-sm btn-danger" href="{% url "scheduler_delete_image" image.slug %}">{% blocktrans %}delete{% endblocktrans %}</a></td>
	</tr>
	{% endfor %}
</table>
{% elif images is None %}
{% blocktrans asvar no_img_msg %}Could not retrieve images list…{% endblocktrans %}
{% include "error.html" with level="warning" message=no_img_msg %}
{% else %}
<p class="info">{% blocktrans %}hum, there's no existing image…{% endblocktrans %}</p>
{% endif %}
<form id="autoimages" method="POST" class="form-check form-check-inline">
	{% csrf_token %}
	<input type="hidden" name="form" value="image_form">
	<div class="form-row visual-group">
		<div class="form-group col-md-2">{% include "_label_for.html" with field=image_form.slug %}{{ image_form.slug|as_widget }}</div>
		<div class="form-group col-md-2">{% include "_label_for.html" with field=image_form.woo_id %}<sup>1</sup>{{ image_form.woo_id|as_widget }}</div>
		<div class="form-group col-md-2">{% include "_label_for.html" with field=image_form.config %}{{ image_form.config|as_widget }}</div>
		<div class="form-group col-md-2">{% include "_label_for.html" with field=image_form.contact_email %}{{ image_form.contact_email|as_widget }}</div>
		<div class="form-channel">{% include "_label_for.html" with field=image_form.channel %}{{ image_form.channel|as_widget }}</div>
		<div class="form-group col-md-2">{% include "_label_for.html" with field=image_form.warehouse %}{{ image_form.warehouse|as_widget }}</div>
		<div class="form-group col-md-1">{% include "_label_for.html" with field=image_form.private %}{{ image_form.private|as_widget }}</div>
		<div class="form-group col-md-1"><label>-</label><button class="btn btn-primary form-check-input form-control">{% blocktrans %}Create{% endblocktrans %}</button></div>
	</div>
</form>
<p><sup>1</sup> <em>Product ID</em> is the Product ID on the WooCommerce shop. Use <code>0</code> if the image is not sold on the shop.</p>
{% endblock %}

{% block css %}
div.form-channel { display: none; }
{% endblock %}

{% block javascript %}
		$('[data-toggle="popover"]').popover();

		var existing_slugs = [{% for image in images %}'{{ image.slug }}', {% endfor %}];
		// update autoimage button color and text in case of update
		$('#{{ image_form.slug.id_for_label }}').on('change', function (event) {
			if (existing_slugs.indexOf($('#{{ image_form.slug.id_for_label }}').val()) != -1) {
				$('#autoimages button').addClass('btn-warning');
				$('#autoimages button').text('Update');
			} else {
				$('#autoimages button').removeClass('btn-warning');
				$('#autoimages button').text('Create');
			}
		});
		// require confirmation on autoimage submit should the slug already exists
		$('#autoimages').on('submit', function (event) {
			event.preventDefault();
			let new_slug = $('#{{ image_form.slug.id_for_label }}').val();
			if (existing_slugs.indexOf(new_slug) != -1) {
				if (confirm(`Autoimage “${new_slug}” already exists.\nPlease confirm you want to replace it.`)) {
					event.currentTarget.submit();
				}
				return false;
			}
			event.currentTarget.submit();
		});
		$('#bulk-autoimages').on('submit', function (event) {
			event.preventDefault();
			if (confirm(`This will trigger the update all auto-images.\nPlease confirm you want to do it now.`)) {
				event.currentTarget.submit();
			}
			return false;
		});
{% endblock %}
