Django>=2.2.11,<2.3
humanfriendly==4.12.1
langcodes==1.4.1
python-magic==0.4.15
pytz==2018.5
PyYAML==5.4.1
requests==2.31.0
jsonfield==2.0.2
pycountry==18.5.26
phonenumbers==8.9.15
python-dateutil==2.7.5
ansi2html==1.5.2
mysqlclient>=2.0.1,<2.1
werkzeug>=1.0.1
Babel==2.9.1
# jinja2 dependency (https://github.com/pallets/markupsafe/issues/284)
MarkupSafe==2.0.1
