<html>
<body>
<div style="background-color: white; width:100%; max-width: 600px;">
<table border="0" cellpadding="0" cellspacing="4" style="width: 100%">
<tr><td style="width: 40px;"><img src="https://www.kiwix.org/apple-touch-icon.png" width="40" height="40" alt="Kiwix logo" /></td>
    <td style="text-align: right;"><h2 style="color:#ccc;">Receipt</h2></td></tr>
</table>
<p>{{ timestamp|date }},</p>
<p>Hello {{ email }}, and thank you for your purchase!</p>
<p>&nbsp;</p>
{% block content %}{% endblock %}
<hr style="border: 0; height: 1px; background: #ccc;" />
<p style="color:#ccc;">This is an automated message. Please do not reply.<br />
Association Kiwix, Avenue des Acacias 7, 1006 Lausanne, Switzerland.</p>
</div>
</body>
</html>
