{% extends "stripe/email_base.html" %}
{% block content %}
<table border="0" cellpadding="0" cellspacing="4" style="width: 100%">
<tr><th style="text-transform: uppercase; color: #ccc; text-align: left;">Product</th>
    <th style="text-transform: uppercase; color: #ccc; text-align: center;">Date Range</th>
    <th style="text-transform: uppercase; color: #ccc; text-align: right;">Amount Billed</th>
</tr>
    <td>{{ product_name }}</td>
    <td style="text-align: center;">Until {{ expire_on|date("%Y-%m-%d") }}</td>
    <td style="text-align: right;"><strong>USD {{ price|amount }}</strong></td></tr>
</table>

<h2>Using the Imager</h2>
<p>Using the cardshop is pretty straightforward, but just in case we made a <a href="https://github.com/offspot/cardshop/raw/master/docs/Cardshop%20instructions%20EN.pdf">user manual</a> with what really matters to get going.</p>
<p>Access it at <a href="https://imager.kiwix.org/">imager.kiwix.org</a> with your personal credentials.</p>
{% if username %}
<table class="table table-sm table-striped">
    <tr><th>Username</th><td><code>{{ username|default("Unavailable – please contact us", true) }}</code></td></tr>
    <tr><th>Password</th>
        {% if existing_account %}
        <td>You already have an account. Password remains unchanged. To reset your password <a href="https://imager.kiwix.org/reset-password">click here</a>.</td>
        {% else %}
        <td><code>{{ password|default("Unavailable – please contact us", true) }}</code></td>{% endif %}
    </tr>
    <tr><th>Expires on</th><td>{{ expire_on|date|default("Unavailable – please contact us", true) }} UTC</td></tr>
</table>
{% else %}
<p>Hum, your credentials at not ready just yet. We shall email those to you shortly. If you don't receive them, please contact us.</p>
{% endif %}

<p>Compatibility: the images you will create can run on Raspberry Pi 3B+, 4, 5 and 400 (but NOT Raspberry Pi zero 2W)</p>
<p>Thank you very much, and enjoy offline access!</p>
<p>The Kiwix Team</p>
{% endblock %}
