<html>
<style type="text/css">body, * { font-family: system-ui, sans-serif; }</style>
<body>
<style type="text/css">body, * { font-family: system-ui, sans-serif; }</style>
<center style="width:100%; background-color:#ffffff">
<div style="background-color: white; width:100%; max-width: 600px;text-align: left;">
<table border="0" cellpadding="0" cellspacing="4" style="width: 100%">
    <tr><td colspan="2" class="text-align: left; background-color: white;"><img style="padding-top: 30px; padding-bottom: 50px; height: 26px;" src="https://raw.githubusercontent.com/kiwix/overview/main/branding/kiwix/horizontal-logo-light.png" alt="Kiwix logo" /></td></tr>
    <tr><td></td>
    <td style="text-align: right; vertical-align: middle;"><h2 style="color:#ccc; padding:0; margin: 0;">Receipt</h2></td></tr>
</table>
<p>{{ timestamp|date }}</p>
<p>Thank you for your purchase.</p>
<p>&nbsp;</p>
{% block content %}{% endblock %}
<hr style="border: 0; height: 1px; background: #ccc;" />
<p style="color:#ccc;">This is an automated message. Please do not reply.<br />
Association Kiwix, Avenue des Acacias 7, 1006 Lausanne, Switzerland.</p>
</div>
</center>
</body>
</html>
