<html>
<body>
<center style="width:100%; background-color:#ffffff">
<div style="background-color: white; width:100%; max-width: 600px;text-align: left;">
<table border="0" cellpadding="0" cellspacing="4" style="width: 100%">
<tr><td style="width: 120px; background-color: white;"><img src="https://cardshop.hotspot.kiwix.org/static/img/kiwix-icon.png" width="120" height="120" alt="Kiwix logo" /></td>
    <td style="text-align: right;"><h2 style="color:#ccc;">Receipt</h2></td></tr>
</table>
<p>{{ timestamp|date }},</p>
<p>Thank you for your purchase!</p>
<p>&nbsp;</p>
{% block content %}{% endblock %}
<hr style="border: 0; height: 1px; background: #ccc;" />
<p style="color:#ccc;">This is an automated message. Please do not reply.<br />
Association Kiwix, Avenue des Acacias 7, 1006 Lausanne, Switzerland.</p>
</div>
</center>
</body>
</html>
