{% extends "stripe/email_base.html" %}
{% block content %}
<table border="0" cellpadding="0" cellspacing="4" style="width: 100%">
    <tr>
        <th style="text-transform: uppercase; color: #ccc; text-align: left;">Bill To</th>
        <th style="text-transform: uppercase; color: #ccc; text-align: right;">Ship To</th>
    </tr>
    <tr>
        <td>
            <address>
                <strong>{{ session.customer_details.name }}</strong><br />
                {% if session.customer_details.address.line1 %}{{ session.customer_details.address.line1 }}<br />{% endif %}
                {% if session.customer_details.address.line2 %}{{ session.customer_details.address.line2 }}<br />{% endif %}
                {% if session.customer_details.address.postal_code %}{{ session.customer_details.address.postal_code }} {% endif %} {{ session.customer_details.address.city }}<br />
                {% if session.customer_details.address.state %}{{ session.customer_details.address.state }}<br />{% endif %}
                {% if session.customer_details.address.country|country %}{{ session.customer_details.address.country|country }} ({{ session.customer_details.address.country }}){% else %}{{ session.customer_details.address.country }}{% endif %}
            </address>
        </td>
        <td style="text-align: right;">
            <address>
                <strong>{{ session.shipping_details.name }}</strong><br />
                {% if session.shipping_details.address.line1 %}{{ session.shipping_details.address.line1 }}<br />{% endif %}
                {% if session.shipping_details.address.line2 %}{{ session.shipping_details.address.line2 }}<br />{% endif %}
                {% if session.shipping_details.address.postal_code %}{{ session.shipping_details.address.postal_code }} {% endif %} {{ session.shipping_details.address.city }}<br />
                {% if session.shipping_details.address.state %}{{ session.shipping_details.address.state }}<br />{% endif %}
                {% if session.shipping_details.address.country|country %}{{ session.shipping_details.address.country|country }} ({{ session.shipping_details.address.country }}){% else %}{{ session.shipping_details.address.country }}{% endif %}
            </address>
        </td>
    </tr>
</table>

<p style="height: 3em;">&nbsp;</p>

<table border="0" cellpadding="0" cellspacing="4" style="width: 100%">
<tr>
    <th style="text-transform: uppercase; color: #ccc; text-align: left;">Qty</th>
    <th style="text-transform: uppercase; color: #ccc; text-align: left;">Item</th>
    <th style="text-transform: uppercase; color: #ccc; text-align: right;">Amount</th></tr>
<tr>
    <td>1 x</td>
    <td style="width: 70%"><strong>{{ product_name }}</strong> ({{ session.shipping_details.address.country|plug }})</td>
    <td style="text-align: right;">{{ session.amount_subtotal|amount }}</td></tr>
<tr>
    <td>1 x</td>
    <td style="width: 70%">Shipping: <em>{{ shipping_option_name }}</em></td>
    <td style="text-align: right;">{{ session.total_details.amount_shipping|amount }}</td></tr>
{% if session.total_details.amount_tax %}
<tr>
    <td>1 x</td>
    <td style="width: 70%">Tax{% if session.customer_details.tax_exempt != 'none' %} <span style="font-family: monospace;">{{ session.customer_details.tax_exempt }}</span> {% endif %}{% if session.customer_details.tax_ids %} (ID: {{ session.customer_details.tax_ids|join(', ') }}){% endif %}</td>
    <td style="text-align: right;">{{ session.total_details.amount_tax|amount }}</td></tr>
{% endif %}
<tr>
    <td colspan="2" style="width: 70%; font-weight: bold; text-align: right;">TOTAL</td>
    <td style="text-align: right;"><strong>USD {{ price|amount }}</strong></td></tr>
</table>

<h2>What's next?</h2>
<p>We will assemble, test and ship your Kiwix Hotspot in the coming days. All orders are processed within 5 business days.</p>
{% if shipping_with_tracking %}<p>Once your package has been shipped, you will receive another email with the tracking details.</p>{% else %}
<p>Once your package has been shipped, you will receive another email.</p>
{% endif %}
<p>Based on your destination country ({{ session.shipping_details.address.country|country }}), your device will be accompagnied by an <strong>{{ session.shipping_details.address.country|plug }}</strong> power-plug.</p>

<p style="padding-bottom: 100px;">Stay tuned!</p>
{% endblock %}
