{% extends "stripe/success_base.html" %}
    {% block content %}
    <div class="container intro">
        <div class="text-center" style="margin-bottom: 5em;">
            <h1>Success!</h1>
            <p>{{ customer.email }}, your cardshop access is ready.</p>
        </div>

        <div class="description">
            <h2>Using the Cardshop</h2>
            <p>Access the cardshop at <a href="https://cardshop.hotspot.kiwix.org/">cardshop.hotspot.kiwix.org</a> with your personal credentials.</p>
            {% if username %}
            <table class="table table-sm table-striped">
                <tr><th>Username</th><td><code>{{ username|default("Unavailable – please contact us", true) }}</code></td></tr>
                <tr><th>Password</th>
                    {% if existing_account %}
                    <td>You already have an account. Password remains unchanged. To reset your password <a href="https://cardshop.hotspot.kiwix.org/password-reset">click here</a>.</td>
                    {% else %}
                    <td><code>{{ password|default("Unavailable – please contact us", true) }}</code></td>{% endif %}
                </tr>
                <tr><th>Expires on</th><td>{{ expire_on|date|default("Unavailable – please contact us", true) }} UTC</td></tr>
            </table>
            {% else %}
            <p>We'll email those to <em>{{ customer.email }}</em> shortly.</p>
            {% endif %}
            <p>Enjoy!</p>
            <p>&nbsp;</p>
            <p>Then maybe go back to <a href="{{ shop_url }}">kiwix.org</a>.</p>
        </div>
    </div>
    {% endblock %}
