{% extends "stripe/success_base.html" %}
    {%block content %}
    <div class="container intro">
        <div class="text-center">
            <h1>Success!</h1>
            <p>{{ customer.email }}, your image is now ready to download. You have 7 days to download it.</p>
            <div class="row buttons">
            <div class="col col-http">
                <a href="{{ http_url }}" class="http-btn">
                    <img src="https://imager.kiwix.org/static/img/http-download-btn_137x40@2x.png"
                         alt="Download order.config.name  ( order.sd_card.size GB)" style="height:4em;"/>
                </a>
            </div>
            <div class="col col-torrent">
                <a href="{{ torrent_url }}" class="torrent-btn">
                    <img height="25px" src="https://imager.kiwix.org/static/img/torrent-download-btn_137x40@2x.png"
                         alt="Magnet" style="height:4em;" />
                </a>
            </div>
            </div>
        </div>

        <div class="description">
            <h2>Using your hotspot</h2>
            <p>Once the image has been downloaded, flash it onto a microSD card (we recommend <a href="https://www.balena.io/etcher/">balenaEtcher</a>, but any such tool will do).</p>
            <p>Insert it into your Raspberry, plug the device and wait for about 20-30 seconds until you see a <em>Wikipedia</em> network appear in your wifi settings.</p>
            <p>Connect to it and a captive portal should appear after a few seconds. If not, then open <a href="http://wikipedia.hotspot">http://wikipedia.hotspot</a> in your favourite browser.</p>
            <p>Enjoy!</p>
            <p>&nbsp;</p>
            <p>Once the download has started you can go back to <a href="{{ shop_url }}">kiwix.org</a>.</p>
        </div>
    </div>
    {% endblock %}
