{% extends "email_base.html" %}
{% block content %}
<h2>Order #{{ order.id }}</h2>
{% block message %}{% endblock %}
<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<th style="text-align: left;">Order ID</th>
		<td>{{ order.id }}</td>
	</tr>
	<tr>
		<th style="text-align: left;">Configuration</th>
		<td>{{ order.config.name }}</td>
	</tr>
	<tr>
		<th style="text-align: left;">SD-size</th>
		<td>{{ order.sd_size }}</td>
	</tr>
	<tr>
		<th style="text-align: left;">Quantity</th>
		<td>{{ order.quantity }}</td>
	</tr>
	<tr>
		<th style="text-align: left;">Units</th>
		<td>{{ order.units }}</td>
	</tr>
	<tr>
		<th style="text-align: left;">Client</th>
		<td>{{ order.client.name }}</td>
	</tr>
	<tr>
		<th style="text-align: left;">Status</th>
		<td>{{ order.status.status }}, {{ order.status.on }}</td>
	</tr>
</table>
{% endblock %}
