<html>
<head>
  <meta charset="utf-8">
  <style type="text/css">
    html, body, * { font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, Oxygen, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial; }
</style>
</head>
<body>
<style type="text/css">
  html, body, * { font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, Oxygen, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial; }
</style>
<div style="padding: 0 1rem; width: fit-content; max-width: 60em;">
  <div style="background-color: white;">
    {% block content %}{% endblock %}
  </div>
  <p style="margin-top: 1rem; color:#6c757d; max-width:60em;width: fit-content; text-align: center; width: 100%; background-color: #f8f9fa; border-radius: .5rem; padding: 1.5rem 1rem; box-sizing: border-box; margin-top: 1rem; font-weight: 500;">
    <strong>{{ _("Enjoy going offline!")|safe }}<br /><span style="color: #707980; font-weight: normal;">{{ _("The Kiwix team")|safe }}</strong>
  </p>
</div>
</body>
</html>
