<html>
<head>
  <style type="text/css">
    html, body, * { font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, Oxygen, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial; }
</style>
</head>
<body>
<style type="text/css">
  html, body, * { font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, Oxygen, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial; }
</style>
<div style="padding: 0 1rem; width: fit-content; max-width: 60em;">
{% block content %}{% endblock %}
</div>
<p style="margin-top: 2rem; color:#5a5a5a; max-width:60em;width: fit-content;"><strong>
{{ _("Enjoy going offline!")|safe }}<br />
{{ _("The Kiwix team")|safe }}
</strong></p>
</body>
</html>
