{% macro tagged_message(tag) -%}
<p style="font-weight:bold;padding:0.5em;{% if tag == "success" %}color:#155724;background-color:#d4edda;border-color:#c3e6cb;{% elif tag == "info" %}color:#0c5460;background-color:#d1ecf1;border-color:#bee5eb;{% elif tag == "warning" %}color:#856404;background-color:#fff3cd;border-color:#ffeeba;{% elif tag == "error" %}color:#721c24;background-color:#f8d7da;border-color:#f5c6cb;{% else %}color:#818182;background-color:#fefefe;border-color:#fdfdfe;{% endif %}">{{ caller() }}</p>
{%- endmacro %}
