{% macro tagged_message(tag) -%}
<p style="font-weight:bold;padding:0.5em;{% if tag == "success" %}color:#155724;background-color:#d4edda;border-color:#c3e6cb;{% elif tag == "info" %}color:#0c5460;background-color:#d1ecf1;border-color:#bee5eb;{% elif tag == "warning" %}color:#856404;background-color:#fff3cd;border-color:#ffeeba;{% elif tag == "error" %}color:#721c24;background-color:#f8d7da;border-color:#f5c6cb;{% else %}color:#818182;background-color:#fefefe;border-color:#fdfdfe;{% endif %}">{{ caller() }}</p>
{%- endmacro %}

{% macro button_insert(order, task) -%}<p style="text-align: center;">
	<a href="{{ task|insert_card_url }}" style="text-decoration: none;">
		<span style="color: #fff; background-color: #007bff; border-color: #007bff; font-weight: 400; text-align: center; border: 1px solid transparent; padding: .55rem .75rem; font-size: 1.2rem; line-height: 1.5; border-radius: .25rem; cursor: pointer; font-family: sans-serif; text-decoration: none; white-space: nowrap; vertical-align: middle; display: inline-block;">{{ _("Confirm <strong>%(sdcard_name)s</strong> SD-card inserted into <strong>%(slot)s</strong>")|format(sdcard_name=order.sd_card.name, slot=task.slot)|safe }}</span>
	</a>
</p>{%- endmacro %}

{% macro button_shipment(order) -%}<p style="text-align: center;">
	<a href="{{ order|add_shipment_url }}" style="text-decoration: none;">
		<span style="color: #fff; background-color: #007bff; border-color: #007bff; font-weight: 400; text-align: center; border: 1px solid transparent; padding: .55rem .75rem; font-size: 1.2rem; line-height: 1.5; border-radius: .25rem; cursor: pointer; font-family: sans-serif; text-decoration: none; white-space: nowrap; vertical-align: middle; display: inline-block;">{{ _("Add Shipping Details") }}</span>
	</a>
</p>{%- endmacro %}

{% macro button_download(order) -%}
	<a href="{{ order|public_download_url }}" alt="{{ _('Download %(config_name)s (%(sdcard_size)sGB)')|format(config_name=order.config.name, sdcard_size=order.sd_card.size) }}" style="background-color: #fd8a31; border: 0; color: white; font-weight: 600; font-size: 1.5rem; border-radius: 1.5rem; padding: .5rem 3rem; cursor: pointer; text-decoration: none; display: inline-block; margin-top: 1rem;">Download</a>
    {% if order|public_download_url_has_torrent %}
    <span style="display: inline-block; width: 3rem;">&nbsp;</span>
    <a href="{{ order|public_download_torrent_url }}" style="background-color: #4cb5e2; border: 0; color: white; font-weight: 600; font-size: 1.5rem; border-radius: 1.5rem; padding: .5rem 3rem; cursor: pointer; text-decoration: none; display: inline-block; margin-top: 1rem;">Get Torrent</a>
    {% endif %}
{%- endmacro %}
