{% extends "email_base.html" %}
{% from "macros.html" import tagged_message %}

{% block content %}
{% call tagged_message("error") %}Worker for slot <strong>{{ ack.slot }}</strong> can't start.{% endcall %}
<p>On {{ ack.on.strftime('%c') }}, your (<code>{{ ack.username }}/{{ ack.worker_type }}</code>) worker for slot <code>{{ ack.slot }}</code> sent an SOS meaning it could not start with the following payload:</p>
<p><code>{{ ack.payload }}</code></p>
<p>Please make sure the devices are in order and check status on the Cardshop.</p>
{% endblock %}
