{% extends "email_order_base.html" %}
{% from "macros.html" import tagged_message %}

{% block message %}
{% call tagged_message("success") %}{{ _("Image Successfuly Written on slot <strong>%(slot)s</strong>!")|format(slot=task.slot)|safe }}{% endcall %}
<p>{{ _("Hi !") }}<br />
{{ _("Just letting you know that <code>WriterTask #%(task_id)s</code> completed successfuly.")|format(task_id=task|id)|safe }}</p>
<p>{{ _("You can now <strong>remove SD-Card from slot <code>%(slot)s</code></strong>.")|format(task.slot)|safe }}</p>
{% endblock %}
