{% extends "email_base.html" %}
{% from "macros.html" import tagged_message %}

{% block content %}
{% call tagged_message("error") %}{{ _("Worker for slot <strong>%(slot)s</strong> can't start.")|format(slot=ack.slot)|safe }}{% endcall %}
<p>{{ _("On %(ack_on)s, your (<code>%(username)s/%(worker_type)s</code>) worker for slot <code>%(slot)s</code> sent an SOS meaning it could not start with the following payload:")|format(ack_on=ack.on.strftime('%c'), username=ack.username, worker_type=ack.worker_type, slot=ack.slot)|safe }}</p>
<p><code>{{ ack.payload }}</code></p>
<p>{{ _("Please make sure the devices are in order and check status on the Imager.") }}</p>
{% endblock %}
