{% extends "email_order_base.html" %}
{% from "macros.html" import tagged_message %}

{% block message %}
{% call tagged_message("error") %}Your order has failed!{% endcall %}
<p>Dear {{ order.recipient.name }},<br />
<p>{% if order.sd_card.type == "physical" %}Your order of <strong>{{ order.quantity }} x {{ order.sd_card.name }}</strong> card
{% else %}Your <strong>{{ order.sd_card.size }}GB</strong> download order{% endif %} with the <strong>{{ order.config.name }}</strong> configuration has failed to complete.</p>
<p>Someone will get in touch with you shortly to work out a fix.</p>
<p>Please accept our sincere appologies.</p>
{% endblock %}
