{% extends "email_base.html" %}
{% from "macros.html" import tagged_message, button_download %}

{% block content %}
{% set config_name_span %}<span style="color: #fd8a31;">{{ order.config.name }}</span>{% endset %}
{% set transmission_link %}<a style="color: #4cb5e2; text-decoration: none; font-weight: bold;" href="https://transmissionbt.com/download/">Transmission</a>{% endset %}
{% set faq_link %}<a style="color: #4cb5e2; text-decoration: none; font-weight: bold;" href="https://kiwix.org/en/hotspot-checklist-and-troubleshooting/">{{ _("troubleshooting checklist") }}</a>{% endset %}
{% set rpi_imager_link %}<a style="color: #4cb5e2; text-decoration: none; font-weight: bold;" href="https://www.raspberrypi.com/software/">Raspberry Pi Imager</a>{% endset %}
{% set hotspot_link %}<a href="http://{{ order.config.project_name }}.hotspot/" style="color: #4cb5e2; text-decoration: none; font-weight: bold; font-family: monospace; white-space:nowrap;">http://{{ order.config.project_name }}.hotspot/</a>{% endset %}

<h2 style="margin-bottom: 2rem; color:#5a5a5a;">{{ _("Your Hotspot image %(config_name)s is now ready for download!")|format(config_name=config_name_span)|safe }}</h2>

<p style="color:#5a5a5a;">{{ _("<strong>IMPORTANT</strong>: The link will be available until <strong>%(expiration_date)s</strong> and will be permanently deleted after this date.")|format(expiration_date=order.sd_card.expiration|date())|safe }}

<p style="display: block; height: 3rem;"></p>

<p>{{ button_download(order) }}</p>

<p style="display: block; height: 3rem;"></p>

<div style="background-color: #fcfcfc; border: 2px solid #efefef; border-radius: 1rem; padding: 1rem;">
  <table style="border-collapse: separate; border-spacing: 1rem .3rem; font-size: .8rem;">
    <thead>
      <tr>
        <th style="color: #5c5c5b; text-align: left; background-color: transparent;">{{ _("Your Order") }}</th>
        <th style=" background-color: transparent;"></th>
        <th style="color: #5c5c5b; text-align: left; background-color: transparent;">{{ _("%(sdcard_size)sGB")|format(sdcard_size=order.sd_card.size) }}</th>
      </tr>
    <tr><th colspan="3" style="height: 1rem; background-color: transparent;"></th></tr>
    </thead>
    <tbody>
      <tr><td style="color: #9b9b9b;">Kiwix Hotspot OS</td><th style="background-color: transparent;"></th><td style="color: #9b9b9b;">Software required to run the Hotspot</td></tr>
      {% for content_title, content_desc in order_entries %}
      <tr><td style="color: #4e4e4e;">{{ content_title }}</td><th style="background-color: transparent;"></th><td style="color: #4e4e4e;">{{ content_desc }}</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<p style="display: block; height: 1em;"></p>

<div style="background-color: #fcfcfc; border: 2px solid #efefef; border-radius: 1rem; padding: 0 1rem;">
  <h3 style="color: #5c5c5b;">{{ _("A little help just in case") }}</h3>

  {% if order|public_download_url_has_torrent %}
  <h4 style="color: #5c5c5b;">{{ _("Torrent") }}</h4>
  <p style="color: #4c4c4c;">{{ _("Your image is also available as a <em>torrent</em>. You need a BitTorrent client (software) to retrieve the actual <em>img</em> file.")|safe }}</p>
  <p style="color: #4c4c4c;">{{ _("We recommend you use %(transmission_link)s if you don't already have one. It will allow you to easily pause and resume your download and ensure that your file is not corrupt.")|format(transmission_link=transmission_link)|safe }}</p>
  {% endif %}

  <h4 style="color: #5c5c5b;">{{ _("SD-card file installation") }}</h4>
  <p style="color: #4c4c4c;">{{ _("To install the file onto a microSD card, we recommend using %(rpi_imager_link)s.")|format(rpi_imager_link=rpi_imager_link)|safe }} {{ _("When asked about <em>OS customisation</em>, answer <strong>no</strong> (it's not compatible).")|safe }}</p>

  <h4 style="color: #5c5c5b;">{{ _("Raspberry Pi installation") }}</h4>
  <p style="color: #4c4c4c;">{{ _("You do not need to connect your Raspberry to a screen. Simply connect to the Hotspot by typing %(hotspot_url)s in your browser's address bar (be mindful to use <em>http</em> and not https).")|format(hotspot_url=hotspot_link)|safe }}</p>
  <p style="color: #4c4c4c;">{{ _("If you encounter any issue, check out our %(faq_link)s before reaching out by responding to this email.")|format(faq_link=faq_link)|safe }}</p>
</div>
{% endblock %}
