{% extends "email_order_base.html" %}
{% from "macros.html" import tagged_message %}

{% block message %}
{% call tagged_message("success") %}Your order has been accepted!{% endcall %}
<p>Dear {{ order.recipient.name }},<br />
{% if order.sd_card.type == "physical" %}<p>Your order of <strong>{{ order.quantity }} x {{ order.sd_card.name }}</strong> with the <strong>{{ order.config.name }}</strong> configuration on it has been accepted by the system.</p>
<p>You will be notified when it is shipped to your address.</p>.
{% else %}<p>Your <strong>{{ order.sd_card.size }}GB</strong> download order with the <strong>{{ order.config.name }}</strong> configuration on it has been accepted by the system. Work duration depends on current server load, but your image should be ready within 24 hours at most.</p>
<p>You will be notified when it is ready for download.</p>
{% endif %}
{% endblock %}
