name: Docker UI

on:
  push:
    branches:
      - 'main'
    paths:
      - 'manager/*'
    tags:
      - 'manager-*'

jobs:
  manager:
    name: Deploy UI Image (manager)
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3.4.0
      - name: Publish Docker Image
        uses: openzim/docker-publish-action@v10
        with:
          image-name: offspot/cardshop-manager
          on-master: latest
          restrict-to: offspot/imager-service
          context: manager
          registries: ghcr.io
          credentials:
            GHCRIO_USERNAME=${{ secrets.GHCR_USERNAME }}
            GHCRIO_TOKEN=${{ secrets.GHCR_TOKEN }}
      - name: Deploy Manager changes on k8s
        uses: actions-hub/kubectl@master
        env:
          KUBE_CONFIG: ${{ secrets.CARDSHOP_KUBE_CONFIG }}
        with:
          args: rollout restart deployments ui-deployment -n cardshop
